openapi: 3.1.0
info:
    version: "1.0"
    title: "SYNQ"
security:
    - bearerAuth: []
servers:
    - url: https://developer.synq.io
    - url: https://api.us.synq.io
    - url: https://api.au.synq.io
components:
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
    schemas:
        google.protobuf.DoubleValue:
            oneOf:
                - type: string
                - type: number
            description: |-
                Wrapper message for `double`.

                 The JSON representation for `DoubleValue` is JSON number.
        google.protobuf.Duration:
            type: string
            format: duration
            description: |-
                A Duration represents a signed, fixed-length span of time represented
                 as a count of seconds and fractions of seconds at nanosecond
                 resolution. It is independent of any calendar and concepts like "day"
                 or "month". It is related to Timestamp in that the difference between
                 two Timestamp values is a Duration and it can be added or subtracted
                 from a Timestamp. Range is approximately +-10,000 years.

                 # Examples

                 Example 1: Compute Duration from two Timestamps in pseudo code.

                     Timestamp start = ...;
                     Timestamp end = ...;
                     Duration duration = ...;

                     duration.seconds = end.seconds - start.seconds;
                     duration.nanos = end.nanos - start.nanos;

                     if (duration.seconds < 0 && duration.nanos > 0) {
                       duration.seconds += 1;
                       duration.nanos -= 1000000000;
                     } else if (duration.seconds > 0 && duration.nanos < 0) {
                       duration.seconds -= 1;
                       duration.nanos += 1000000000;
                     }

                 Example 2: Compute Timestamp from Timestamp + Duration in pseudo code.

                     Timestamp start = ...;
                     Duration duration = ...;
                     Timestamp end = ...;

                     end.seconds = start.seconds + duration.seconds;
                     end.nanos = start.nanos + duration.nanos;

                     if (end.nanos < 0) {
                       end.seconds -= 1;
                       end.nanos += 1000000000;
                     } else if (end.nanos >= 1000000000) {
                       end.seconds += 1;
                       end.nanos -= 1000000000;
                     }

                 Example 3: Compute Duration from datetime.timedelta in Python.

                     td = datetime.timedelta(days=3, minutes=10)
                     duration = Duration()
                     duration.FromTimedelta(td)

                 # JSON Mapping

                 In JSON format, the Duration type is encoded as a string rather than an
                 object, where the string ends in the suffix "s" (indicating seconds) and
                 is preceded by the number of seconds, with nanoseconds expressed as
                 fractional seconds. For example, 3 seconds with 0 nanoseconds should be
                 encoded in JSON format as "3s", while 3 seconds and 1 nanosecond should
                 be expressed in JSON format as "3.000000001s", and 3 seconds and 1
                 microsecond should be expressed in JSON format as "3.000001s".
        google.protobuf.Int64Value:
            oneOf:
                - type: string
                - type: number
            description: |-
                Wrapper message for `int64`.

                 The JSON representation for `Int64Value` is JSON string.
        google.protobuf.ListValue:
            type: object
            properties:
                values:
                    type: array
                    items:
                        $ref: '#/components/schemas/google.protobuf.Value'
                    description: Repeated field of dynamically typed values.
            title: ListValue
            additionalProperties: false
            description: |-
                `ListValue` is a wrapper around a repeated field of values.

                 The JSON representation for `ListValue` is JSON array.
        google.protobuf.NullValue:
            type: string
            title: NullValue
            enum:
                - NULL_VALUE
            description: |-
                `NullValue` is a singleton enumeration to represent the null value for the
                 `Value` type union.

                  The JSON representation for `NullValue` is JSON `null`.
        google.protobuf.Struct:
            type: object
            additionalProperties:
                $ref: '#/components/schemas/google.protobuf.Value'
            description: |-
                `Struct` represents a structured data value, consisting of fields
                 which map to dynamically typed values. In some languages, `Struct`
                 might be supported by a native representation. For example, in
                 scripting languages like JS a struct is represented as an
                 object. The details of that representation are described together
                 with the proto support for the language.

                 The JSON representation for `Struct` is JSON object.
        google.protobuf.Struct.FieldsEntry:
            type: object
            properties:
                key:
                    type: string
                value:
                    $ref: '#/components/schemas/google.protobuf.Value'
            title: FieldsEntry
            additionalProperties: false
        google.protobuf.Timestamp:
            type: string
            examples:
                - "2023-01-15T01:30:15.01Z"
                - "2024-12-25T12:00:00Z"
            format: date-time
            description: |-
                A Timestamp represents a point in time independent of any time zone or local
                 calendar, encoded as a count of seconds and fractions of seconds at
                 nanosecond resolution. The count is relative to an epoch at UTC midnight on
                 January 1, 1970, in the proleptic Gregorian calendar which extends the
                 Gregorian calendar backwards to year one.

                 All minutes are 60 seconds long. Leap seconds are "smeared" so that no leap
                 second table is needed for interpretation, using a [24-hour linear
                 smear](https://developers.google.com/time/smear).

                 The range is from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59.999999999Z. By
                 restricting to that range, we ensure that we can convert to and from [RFC
                 3339](https://www.ietf.org/rfc/rfc3339.txt) date strings.

                 # Examples

                 Example 1: Compute Timestamp from POSIX `time()`.

                     Timestamp timestamp;
                     timestamp.set_seconds(time(NULL));
                     timestamp.set_nanos(0);

                 Example 2: Compute Timestamp from POSIX `gettimeofday()`.

                     struct timeval tv;
                     gettimeofday(&tv, NULL);

                     Timestamp timestamp;
                     timestamp.set_seconds(tv.tv_sec);
                     timestamp.set_nanos(tv.tv_usec * 1000);

                 Example 3: Compute Timestamp from Win32 `GetSystemTimeAsFileTime()`.

                     FILETIME ft;
                     GetSystemTimeAsFileTime(&ft);
                     UINT64 ticks = (((UINT64)ft.dwHighDateTime) << 32) | ft.dwLowDateTime;

                     // A Windows tick is 100 nanoseconds. Windows epoch 1601-01-01T00:00:00Z
                     // is 11644473600 seconds before Unix epoch 1970-01-01T00:00:00Z.
                     Timestamp timestamp;
                     timestamp.set_seconds((INT64) ((ticks / 10000000) - 11644473600LL));
                     timestamp.set_nanos((INT32) ((ticks % 10000000) * 100));

                 Example 4: Compute Timestamp from Java `System.currentTimeMillis()`.

                     long millis = System.currentTimeMillis();

                     Timestamp timestamp = Timestamp.newBuilder().setSeconds(millis / 1000)
                         .setNanos((int) ((millis % 1000) * 1000000)).build();


                 Example 5: Compute Timestamp from Java `Instant.now()`.

                     Instant now = Instant.now();

                     Timestamp timestamp =
                         Timestamp.newBuilder().setSeconds(now.getEpochSecond())
                             .setNanos(now.getNano()).build();


                 Example 6: Compute Timestamp from current time in Python.

                     timestamp = Timestamp()
                     timestamp.GetCurrentTime()

                 # JSON Mapping

                 In JSON format, the Timestamp type is encoded as a string in the
                 [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) format. That is, the
                 format is "{year}-{month}-{day}T{hour}:{min}:{sec}[.{frac_sec}]Z"
                 where {year} is always expressed using four digits while {month}, {day},
                 {hour}, {min}, and {sec} are zero-padded to two digits each. The fractional
                 seconds, which can go up to 9 digits (i.e. up to 1 nanosecond resolution),
                 are optional. The "Z" suffix indicates the timezone ("UTC"); the timezone
                 is required. A proto3 JSON serializer should always use UTC (as indicated by
                 "Z") when printing the Timestamp type and a proto3 JSON parser should be
                 able to accept both UTC and other timezones (as indicated by an offset).

                 For example, "2017-01-15T01:30:15.01Z" encodes 15.01 seconds past
                 01:30 UTC on January 15, 2017.

                 In JavaScript, one can convert a Date object to this format using the
                 standard
                 [toISOString()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toISOString)
                 method. In Python, a standard `datetime.datetime` object can be converted
                 to this format using
                 [`strftime`](https://docs.python.org/2/library/time.html#time.strftime) with
                 the time format spec '%Y-%m-%dT%H:%M:%S.%fZ'. Likewise, in Java, one can use
                 the Joda Time's [`ISODateTimeFormat.dateTime()`](
                 http://www.joda.org/joda-time/apidocs/org/joda/time/format/ISODateTimeFormat.html#dateTime%2D%2D
                 ) to obtain a formatter capable of generating timestamps in this format.
        google.protobuf.Value:
            oneOf:
                - type: "null"
                - type: number
                - type: string
                - type: boolean
                - type: array
                - type: object
                  additionalProperties: true
            description: |-
                `Value` represents a dynamically typed value which can be either
                 null, a number, a string, a boolean, a recursive struct value, or a
                 list of values. A producer of value is expected to set one of these
                 variants. Absence of any variant indicates an error.

                 The JSON representation for `Value` is JSON value.
        synq.agent.dwh.v1.AgentTaskData:
            type: object
            oneOf:
                - properties:
                    fetchMetricsResult:
                        title: fetch_metrics_result
                        $ref: '#/components/schemas/synq.agent.dwh.v1.FetchMetricsResult'
                  title: fetch_metrics_result
                  required:
                    - fetchMetricsResult
                - properties:
                    fetchSegmentsResult:
                        title: fetch_segments_result
                        $ref: '#/components/schemas/synq.agent.dwh.v1.FetchSegmentsResult'
                  title: fetch_segments_result
                  required:
                    - fetchSegmentsResult
            additionalProperties: false
        synq.agent.dwh.v1.FetchMetricsResult:
            type: object
            properties:
                queryRows:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.agent.dwh.v1.FetchMetricsResult.QueryRows'
                commandContext:
                    type: string
                    description: Matches command_context of FetchMetricsCommand / FetchTableStatsCommand
                    nullable: true
            title: FetchMetricsResult
            additionalProperties: false
        synq.agent.dwh.v1.FetchMetricsResult.ColumnValue:
            type: object
            allOf:
                - properties:
                    name:
                        type: string
                        title: name
                    isNull:
                        type: boolean
                        title: is_null
                - oneOf:
                    - properties:
                        bigIntValue:
                            type: string
                            title: big_int_value
                            description: |-
                                Arbitrary-precision integer encoded as a base-10 string, used for
                                 values that exceed the signed 64-bit range. Covers DuckDB HUGEINT
                                 (128-bit), ClickHouse Int128/UInt128/Int256/UInt256, and similar
                                 wide integer types from other warehouses.
                                 Consumers should parse this with an arbitrary-precision library
                                 (e.g., Go's math/big.Int, Java's BigInteger, Python's int).
                      title: big_int_value
                      required:
                        - bigIntValue
                    - properties:
                        doubleValue:
                            type: number
                            title: double_value
                            format: double
                      title: double_value
                      required:
                        - doubleValue
                    - properties:
                        intValue:
                            type:
                                - integer
                                - string
                            title: int_value
                            format: int64
                            description: |-
                                Integer value for values that fit within the signed 64-bit range
                                 [-9223372036854775808, 9223372036854775807].
                      title: int_value
                      required:
                        - intValue
                    - properties:
                        timeValue:
                            title: time_value
                            $ref: '#/components/schemas/google.protobuf.Timestamp'
                      title: time_value
                      required:
                        - timeValue
            title: ColumnValue
            additionalProperties: false
        synq.agent.dwh.v1.FetchMetricsResult.MetricsRow:
            type: object
            properties:
                segment:
                    type: string
                    nullable: true
                columnValues:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.agent.dwh.v1.FetchMetricsResult.ColumnValue'
            title: MetricsRow
            additionalProperties: false
        synq.agent.dwh.v1.FetchMetricsResult.QueryRows:
            type: object
            properties:
                rows:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.agent.dwh.v1.FetchMetricsResult.MetricsRow'
                queryId:
                    type: string
                    nullable: true
            title: QueryRows
            additionalProperties: false
        synq.agent.dwh.v1.FetchSegmentsResult:
            type: object
            properties:
                rows:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.agent.dwh.v1.FetchSegmentsResult.SegmentRow'
            title: FetchSegmentsResult
            additionalProperties: false
        synq.agent.dwh.v1.FetchSegmentsResult.SegmentRow:
            type: object
            properties:
                segment:
                    type: string
                count:
                    type:
                        - integer
                        - string
                    format: int64
                    nullable: true
            title: SegmentRow
            additionalProperties: false
        synq.agent.recon.v1.AggregateConfig:
            type: object
            properties:
                measures:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.agent.recon.v1.Measure'
                    minItems: 1
                    description: |-
                        Measures to compare between source and target.
                         Each measure defines a column and one or more aggregate functions to apply.
                thresholds:
                    description: |-
                        Tolerance thresholds for aggregate comparisons.
                         When not set, exact match is required for all measures.
                    nullable: true
                    $ref: '#/components/schemas/synq.agent.recon.v1.ThresholdConfig'
                groupColumns:
                    type: array
                    items:
                        type: string
                    description: |-
                        Columns defining the drill-down hierarchy for aggregate comparison.
                         Falls back to key_column if not set.

                         Single column: flat GROUP BY comparison.
                           group_columns: ["region"]
                           → GROUP BY region

                         Multiple columns: cumulative GROUP BY drill-down, pruning matched groups
                         at each level to focus on divergent branches.
                           group_columns: ["region", "city", "store"]
                           → Level 0: GROUP BY region
                           → Level 1: GROUP BY region, city  (only for mismatched regions)
                           → Level 2: GROUP BY region, city, store (only for mismatched cities)
            title: AggregateConfig
            additionalProperties: false
            description: |-
                AggregateConfig defines aggregate comparison settings.
                 Used when mode is AGGREGATE to compare grouped measures between source and target.
        synq.agent.recon.v1.AggregateFunction:
            type: string
            title: AggregateFunction
            enum:
                - AGGREGATE_FUNCTION_UNSPECIFIED
                - AGGREGATE_FUNCTION_SUM
                - AGGREGATE_FUNCTION_COUNT
                - AGGREGATE_FUNCTION_AVG
                - AGGREGATE_FUNCTION_MIN
                - AGGREGATE_FUNCTION_MAX
            description: |-
                AggregateFunction defines the supported SQL aggregate functions
                 for measure comparisons in aggregate reconciliation mode.
        synq.agent.recon.v1.BisectionConfig:
            type: object
            properties:
                enabled:
                    type: boolean
                    description: |-
                        Whether bisection drill-down is enabled.
                         When false, only the quick-check (count + checksum) runs — mismatches
                         are detected but not localized to specific rows.
                factor:
                    type: integer
                    maximum: 1024
                    minimum: 2
                    format: int32
                    description: |-
                        Branching factor: how many segments each level is split into.
                         Higher values find mismatches faster (fewer levels) but issue more queries per level.
                         Default: 32. Typical range: 4–64.
                    nullable: true
                threshold:
                    type: integer
                    minimum: 1
                    format: int32
                    description: |-
                        Row count threshold: stop bisecting when a segment has fewer rows than this.
                         Lower values find more precise mismatch locations but issue more queries.
                         Default: 16384. Set to 1 to drill down to individual rows.
                    nullable: true
                strategy:
                    description: Segmentation strategy for splitting key ranges.
                    $ref: '#/components/schemas/synq.agent.recon.v1.SegmentationStrategy'
                timeColumn:
                    type: string
                    description: |-
                        Column for time-based partitioning. Required when strategy is TIME.
                         Must be a timestamp, date, or datetime column in the dataset.
                    nullable: true
                timeGranularity:
                    description: |-
                        Granularity for time-based segmentation. Default: DAY.
                         Controls the width of each time bucket when strategy is TIME.
                    $ref: '#/components/schemas/synq.agent.recon.v1.TimeGranularity'
            title: BisectionConfig
            additionalProperties: false
            description: |
                BisectionConfig controls the bisection drill-down algorithm that recursively
                 splits the key range to locate individual mismatched rows.
                 Only used in ROW_CHECKSUM mode.
                time_column_required_for_time_strategy // time_column is required when strategy is TIME
        synq.agent.recon.v1.CaseCategories:
            type: object
            properties:
                category:
                    type: string
                    nullable: true
                governanceCategory:
                    type: string
                    nullable: true
            title: CaseCategories
            additionalProperties: false
            description: |-
                CaseCategories declares the categories for a single reconciliation case,
                 overriding what the deployment declares. The two dimensions are independent, so
                 a case can override one and inherit the other.

                 Per field:
                   - absent                : inherit the deployment's declaration
                   - present, empty string : declare nothing for this case, even when the
                                             deployment declares a value — the category then
                                             falls to the reserved annotation or the workspace's
                                             categorisation rules
                   - present, non-empty    : set this case's category

                 An entry with neither field set therefore means the same as no entry at all, and
                 is dropped rather than stored.
        synq.agent.recon.v1.ColumnMapping:
            type: object
            properties:
                source:
                    type: string
                    minLength: 1
                    description: Column name in the source dataset.
                target:
                    type: string
                    minLength: 1
                    description: Corresponding column name in the target dataset.
            title: ColumnMapping
            required:
                - source
                - target
            additionalProperties: false
            description: |-
                ColumnMapping maps a source column name to a target column name.
                 Used when source and target use different naming conventions for the same data
                 (e.g., snake_case vs SCREAMING_SNAKE_CASE, or completely different names).
                 Only columns with different names need explicit mapping — columns with
                 identical names (or case-insensitive matches when case_insensitive is true)
                 are matched automatically.
        synq.agent.recon.v1.ColumnThresholdOverride:
            type: object
            properties:
                column:
                    type: string
                    minLength: 1
                    description: |-
                        Group column name this override applies to.
                         Must match one of the group_columns in the AggregateConfig.
                thresholds:
                    description: |-
                        Threshold overrides for this group column level.
                         Values here override the parent ThresholdConfig for reconciliation groups
                         at this drill-down level. May include per_measure for further specificity.
                    $ref: '#/components/schemas/synq.agent.recon.v1.ThresholdConfig'
            title: ColumnThresholdOverride
            required:
                - column
                - thresholds
            additionalProperties: false
            description: |-
                ColumnThresholdOverride associates threshold overrides with a specific
                 group_column level in the aggregate drill-down hierarchy.
        synq.agent.recon.v1.ConnectionMapping:
            type: object
            allOf:
                - properties:
                    connectionName:
                        type: string
                        title: connection_name
                        minLength: 1
                        description: |-
                            Connection name as it appears in the suite config
                             (e.g. ReconciliationSuite.reconciliations[].source.connection).
                - oneOf:
                    - properties:
                        integrationId:
                            type: string
                            title: integration_id
                            minLength: 1
                            description: Workspace-level integration (credentials owned by the workspace).
                      title: integration_id
                      required:
                        - integrationId
                    - properties:
                        userIntegrationId:
                            type: string
                            title: user_integration_id
                            minLength: 1
                            description: |-
                                Per-user integration ID (user-level credentials). Server requires a
                                 user identity in the calling context to accept this branch.
                      title: user_integration_id
                      required:
                        - userIntegrationId
            title: ConnectionMapping
            required:
                - connectionName
            additionalProperties: false
            description: |-
                Maps a reconciliation-connection name (as referenced in the suite config)
                 to a concrete SYNQ integration. Used at execution time to resolve DWH
                 credentials.

                 Two credential planes are defined on the wire:
                   - integration_id: workspace-level integration. Required for deployment
                     paths and acceptable for adhoc submission when the caller has
                     SCOPE_INTEGRATION_EDIT.
                   - user_integration_id: per-user OAuth-backed integration. Accepted
                     only on adhoc submission, and only when a user identity is present
                     in the calling context. Deployment paths reject this branch
                     unconditionally — scheduled runs must be able to fire without any
                     particular user being available, so they always run with workspace
                     credentials.

                 Wire-compatible with the previous shape: the original `integration_id`
                 (field 2) is preserved as one branch of the oneof so existing serialized
                 rows decode unchanged.
        synq.agent.recon.v1.ConnectionQueries:
            type: object
            properties:
                connection:
                    type: string
                    minLength: 1
                    description: |-
                        Connection name to execute these queries on.
                         Must reference a connection configured in the runner's connection map.
                queries:
                    type: array
                    items:
                        type: string
                        minItems: 1
                    minItems: 1
                    description: SQL queries to execute in order on this connection.
            title: ConnectionQueries
            required:
                - connection
            additionalProperties: false
            description: |-
                ConnectionQueries associates SQL queries with a specific connection.
                 Used for setup and teardown blocks at both suite and reconciliation level.
        synq.agent.recon.v1.CronSchedule:
            type: object
            properties:
                expression:
                    type: string
                    minLength: 1
                    description: Standard cron expression (e.g. "0 */6 * * *").
            title: CronSchedule
            required:
                - expression
            additionalProperties: false
        synq.agent.recon.v1.CutoffAggregateFunction:
            type: string
            title: CutoffAggregateFunction
            enum:
                - CUTOFF_AGGREGATE_FUNCTION_UNSPECIFIED
                - CUTOFF_AGGREGATE_FUNCTION_MAX
                - CUTOFF_AGGREGATE_FUNCTION_MIN
            description: CutoffAggregateFunction defines the aggregate function for watermark derivation.
        synq.agent.recon.v1.CutoffApplyConfig:
            type: object
            properties:
                column:
                    type: string
                    description: Column to filter on. When not set, uses the derivation column from that side.
                    nullable: true
                operator:
                    type: string
                    description: 'Comparison operator. Default: "<=".'
                    nullable: true
            title: CutoffApplyConfig
            additionalProperties: false
            description: CutoffApplyConfig controls how the resolved cutoff value is applied as a WHERE filter.
        synq.agent.recon.v1.CutoffCombineStrategy:
            type: string
            title: CutoffCombineStrategy
            enum:
                - CUTOFF_COMBINE_STRATEGY_UNSPECIFIED
                - CUTOFF_COMBINE_STRATEGY_MIN
                - CUTOFF_COMBINE_STRATEGY_MAX
                - CUTOFF_COMBINE_STRATEGY_SOURCE
                - CUTOFF_COMBINE_STRATEGY_TARGET
            description: CutoffCombineStrategy defines how to combine watermarks from source and target.
        synq.agent.recon.v1.CutoffConfig:
            type: object
            properties:
                source:
                    description: |-
                        Per-side watermark derivation config for source.
                         When not set, derives from target only.
                    nullable: true
                    $ref: '#/components/schemas/synq.agent.recon.v1.CutoffSideConfig'
                target:
                    description: |-
                        Per-side watermark derivation config for target.
                         When not set, derives from source only.
                    nullable: true
                    $ref: '#/components/schemas/synq.agent.recon.v1.CutoffSideConfig'
                combine:
                    description: |-
                        How to combine watermarks when both sides are configured.
                         Default: MIN (use the smaller watermark for safety).
                         Ignored when only one side has a watermark.
                    $ref: '#/components/schemas/synq.agent.recon.v1.CutoffCombineStrategy'
                truncate:
                    description: |-
                        Truncate the combined watermark to a time boundary.
                         Example: HOUR truncates 08:47:12 to 08:00:00.
                         Applied after combining, before offset.
                    $ref: '#/components/schemas/synq.agent.recon.v1.CutoffTruncateUnit'
                offset:
                    description: |-
                        Time offset applied after truncation.
                         Negative durations subtract from the cutoff (safety buffer).
                         Example: "-30m" shifts the cutoff 30 minutes earlier.
                    nullable: true
                    $ref: '#/components/schemas/google.protobuf.Duration'
                applySource:
                    description: |-
                        How to apply the cutoff as a WHERE filter on the source side.
                         When not set, uses the source derivation column with <= operator.
                    nullable: true
                    $ref: '#/components/schemas/synq.agent.recon.v1.CutoffApplyConfig'
                applyTarget:
                    description: |-
                        How to apply the cutoff as a WHERE filter on the target side.
                         When not set, uses the target derivation column with <= operator.
                    nullable: true
                    $ref: '#/components/schemas/synq.agent.recon.v1.CutoffApplyConfig'
            title: CutoffConfig
            additionalProperties: false
            description: |-
                CutoffConfig defines a dynamic cutoff filter for sync reconciliation.
                 It derives a watermark value from the actual data (e.g., MAX(created_at))
                 to automatically exclude rows that haven't been synced yet.

                 The cutoff is resolved at runtime before comparison queries run:
                  1. Derive watermark(s) from source and/or target via aggregate queries.
                  2. Combine them (default: MIN of both sides).
                  3. Optionally truncate to a time boundary and apply an offset.
                  4. Apply as WHERE filter to both source and target queries.
        synq.agent.recon.v1.CutoffSideConfig:
            type: object
            properties:
                column:
                    type: string
                    description: |-
                        Column to derive the watermark from (e.g., "created_at", "synced_at").
                         Required when query is not set.
                aggregate:
                    description: |-
                        Aggregate function to derive the watermark. Default: MAX.
                         Only used when query is not set.
                    $ref: '#/components/schemas/synq.agent.recon.v1.CutoffAggregateFunction'
                query:
                    type: string
                    description: |-
                        Custom SQL query for watermark derivation.
                         Must return a single row with a "watermark" column.
                         When not set, auto-generated from the dataset at runtime.
                         After resolution, this field is populated with the actual query that was executed.
                    nullable: true
            title: CutoffSideConfig
            additionalProperties: false
            description: |-
                CutoffSideConfig configures watermark derivation for one side (source or target).

                 There are two modes:
                  1. Column + aggregate (default): auto-generates a watermark query from the dataset.
                     For table-based datasets, queries the table directly (the column does NOT need
                     to be in the reconciliation column list). For query-based datasets, wraps the
                     query as a subquery (the column MUST be in the query's SELECT list).
                  2. Custom query: provide a SQL query that returns a single row with a "watermark" column.
                     Use this when the auto-generated query doesn't work (e.g., complex joins, custom logic).

                 After resolution at runtime, the `query` field is always populated with the actual SQL
                 that was executed, regardless of which mode was used. This ensures the audit log captures
                 the exact query for reproducibility.
        synq.agent.recon.v1.CutoffTruncateUnit:
            type: string
            title: CutoffTruncateUnit
            enum:
                - CUTOFF_TRUNCATE_UNIT_UNSPECIFIED
                - CUTOFF_TRUNCATE_UNIT_HOUR
                - CUTOFF_TRUNCATE_UNIT_DAY
                - CUTOFF_TRUNCATE_UNIT_WEEK
                - CUTOFF_TRUNCATE_UNIT_MONTH
                - CUTOFF_TRUNCATE_UNIT_QUARTER
                - CUTOFF_TRUNCATE_UNIT_YEAR
            description: CutoffTruncateUnit defines time truncation for the cutoff value.
        synq.agent.recon.v1.Dataset:
            type: object
            allOf:
                - properties:
                    connection:
                        type: string
                        title: connection
                        minLength: 1
                        description: |-
                            Name of the connection to use. Must reference a connection configured
                             in the runner's connection map.
                    asOf:
                        type: string
                        title: as_of
                        description: |-
                            Time-travel timestamp for snapshot queries (e.g., "2026-02-01 00:00:00").
                             When set, wraps the query with database-specific time-travel syntax:
                               - Snowflake: AT(TIMESTAMP => '<as_of>')
                               - BigQuery: FOR SYSTEM_TIME AS OF TIMESTAMP '<as_of>'
                               - Databricks: TIMESTAMP AS OF '<as_of>'
                             Has no effect on databases that don't support time-travel.
                        nullable: true
                - oneOf:
                    - properties:
                        query:
                            type: string
                            title: query
                            description: |-
                                Raw SQL query returning the dataset.
                                 Should be a SELECT or WITH (CTE) statement.
                                 Supports template variable interpolation via {{variable_name}} syntax.
                      title: query
                      required:
                        - query
                    - properties:
                        table:
                            title: table
                            description: |-
                                Table reference with optional column selection.
                                 Automatically generates a SELECT query from the table metadata.
                            $ref: '#/components/schemas/synq.agent.recon.v1.TableReference'
                      title: table
                      required:
                        - table
            title: Dataset
            required:
                - connection
            additionalProperties: false
            description: |-
                Dataset defines a source or target dataset for reconciliation.
                 A dataset specifies which connection to use and how to select data —
                 either via a raw SQL query or by referencing a table with optional column filtering.
        synq.agent.recon.v1.DeploymentAction:
            type: string
            title: DeploymentAction
            enum:
                - DEPLOYMENT_ACTION_UNSPECIFIED
                - DEPLOYMENT_ACTION_PROMOTED
                - DEPLOYMENT_ACTION_REPROMOTED
                - DEPLOYMENT_ACTION_SCHEDULE_CHANGED
                - DEPLOYMENT_ACTION_MAPPINGS_CHANGED
                - DEPLOYMENT_ACTION_PAUSED
                - DEPLOYMENT_ACTION_RESUMED
                - DEPLOYMENT_ACTION_UNPROMOTED
                - DEPLOYMENT_ACTION_ANNOTATIONS_CHANGED
                - DEPLOYMENT_ACTION_FAILURE_IMPACTS_CHANGED
                - DEPLOYMENT_ACTION_CATEGORIES_CHANGED
        synq.agent.recon.v1.ErrorHandlingConfig:
            type: object
            properties:
                queryTimeout:
                    description: |-
                        Per-query timeout. When a query exceeds this duration, it is cancelled.
                         Default: no per-query limit (only the global run timeout applies).
                    nullable: true
                    $ref: '#/components/schemas/google.protobuf.Duration'
                maxRetries:
                    type: integer
                    maximum: 10
                    minimum: 0
                    format: int32
                    description: |-
                        Maximum retry attempts for transient query failures.
                         The total number of attempts is max_retries + 1 (initial + retries).
                         Default: 2.
                    nullable: true
                retryInitialDelay:
                    description: |-
                        Initial backoff delay before the first retry.
                         Subsequent retries multiply this by retry_backoff_factor.
                         Default: 1s.
                    nullable: true
                    $ref: '#/components/schemas/google.protobuf.Duration'
                retryBackoffFactor:
                    type: number
                    minimum: 1
                    format: double
                    description: |-
                        Backoff multiplier applied after each retry.
                         Delay for attempt N = retry_initial_delay * retry_backoff_factor^(N-1).
                         Must be >= 1.0 to ensure delays don't decrease.
                         Default: 2.0.
                    nullable: true
            title: ErrorHandlingConfig
            additionalProperties: false
            description: |-
                ErrorHandlingConfig controls retry and timeout behavior for database queries.
                 Applies to all queries within a reconciliation (setup, comparison, teardown).
        synq.agent.recon.v1.GetSuiteDeploymentRequest:
            type: object
            oneOf:
                - properties:
                    deploymentId:
                        type: string
                        title: deployment_id
                  title: deployment_id
                  required:
                    - deploymentId
                - properties:
                    suiteId:
                        type: string
                        title: suite_id
                  title: suite_id
                  required:
                    - suiteId
            additionalProperties: false
        synq.agent.recon.v1.GetSuiteDeploymentResponse:
            type: object
            properties:
                deployment:
                    $ref: '#/components/schemas/synq.agent.recon.v1.SuiteDeployment'
            title: GetSuiteDeploymentResponse
            additionalProperties: false
        synq.agent.recon.v1.HashAlgorithm:
            type: string
            title: HashAlgorithm
            enum:
                - HASH_ALGORITHM_UNSPECIFIED
                - HASH_ALGORITHM_MD5
                - HASH_ALGORITHM_FARM_FINGERPRINT
                - HASH_ALGORITHM_XXHASH64
            description: |-
                HashAlgorithm specifies the hash function used for row checksums
                 in ROW_CHECKSUM mode. Different databases natively support different
                 hash functions; choosing one supported by both sides avoids emulation overhead.
        synq.agent.recon.v1.ICalSchedule:
            type: object
            properties:
                recurrenceRule:
                    type: string
                    minLength: 1
                    description: |-
                        RFC 5545 RRULE recurrence rule (e.g. "FREQ=MONTHLY;BYDAY=TH;BYSETPOS=-1").
                         DTSTART should be set via the dtstart field below rather than inline in the rule.
                dtstart:
                    description: |-
                        Anchor time for the recurrence rule. Wall-clock time interpreted in the
                         schedule's timezone. Defines when the schedule starts and aligns occurrences.
                         If not set and no DTSTART is present in the recurrence_rule, defaults to now().
                    nullable: true
                    $ref: '#/components/schemas/google.protobuf.Timestamp'
            title: ICalSchedule
            required:
                - recurrenceRule
            additionalProperties: false
        synq.agent.recon.v1.ListSuiteDeploymentHistoryRequest:
            type: object
            allOf:
                - properties:
                    pagination:
                        title: pagination
                        nullable: true
                        $ref: '#/components/schemas/synq.v1.Pagination'
                - oneOf:
                    - properties:
                        deploymentId:
                            type: string
                            title: deployment_id
                      title: deployment_id
                      required:
                        - deploymentId
                    - properties:
                        suiteId:
                            type: string
                            title: suite_id
                      title: suite_id
                      required:
                        - suiteId
            title: ListSuiteDeploymentHistoryRequest
            additionalProperties: false
        synq.agent.recon.v1.ListSuiteDeploymentHistoryResponse:
            type: object
            properties:
                entries:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.agent.recon.v1.SuiteDeploymentHistoryEntry'
                pageInfo:
                    $ref: '#/components/schemas/synq.v1.PageInfo'
            title: ListSuiteDeploymentHistoryResponse
            additionalProperties: false
        synq.agent.recon.v1.ListSuiteDeploymentsRequest:
            type: object
            properties:
                pagination:
                    nullable: true
                    $ref: '#/components/schemas/synq.v1.Pagination'
                integrationId:
                    type: string
                    description: |-
                        Return only deployments wired to this SYNQ integration (match against
                         the deployment's connection_mappings).
                    nullable: true
                triggerableByApi:
                    type: boolean
                    description: Filter by triggerable_by_api flag.
                    nullable: true
                activeOnly:
                    type: boolean
                    description: When true (default), only active deployments are returned.
                includePaused:
                    type: boolean
                    description: When false (default), paused deployments are excluded.
            title: ListSuiteDeploymentsRequest
            additionalProperties: false
        synq.agent.recon.v1.ListSuiteDeploymentsResponse:
            type: object
            properties:
                deployments:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.agent.recon.v1.SuiteDeployment'
                pageInfo:
                    $ref: '#/components/schemas/synq.v1.PageInfo'
            title: ListSuiteDeploymentsResponse
            additionalProperties: false
        synq.agent.recon.v1.Measure:
            type: object
            properties:
                column:
                    type: string
                    minLength: 1
                    description: |-
                        Column name to aggregate. Must exist in both source and target datasets
                         (after column mapping is applied).
                functions:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.agent.recon.v1.AggregateFunction'
                    minItems: 1
                    description: |-
                        Aggregate functions to apply to this column.
                         Multiple functions produce multiple measure comparisons from one column.
            title: Measure
            required:
                - column
            additionalProperties: false
            description: |-
                Measure defines a column and aggregate function(s) to compare
                 between source and target datasets.
                 A single measure with multiple functions expands into multiple comparisons
                 (e.g., column="amount" functions=[SUM, AVG] produces "SUM(amount)" and "AVG(amount)").
        synq.agent.recon.v1.MeasureThresholdOverride:
            type: object
            properties:
                function:
                    not:
                        enum:
                            - 0
                    description: Aggregate function this override applies to.
                    $ref: '#/components/schemas/synq.agent.recon.v1.AggregateFunction'
                column:
                    type: string
                    minLength: 1
                    description: |-
                        Column name this override applies to.
                         Together with function, forms the measure key (e.g., SUM + "amount" = "SUM(amount)").
                thresholds:
                    description: |-
                        Threshold overrides for this specific measure.
                         Values here override the parent ThresholdConfig (and any per_column override)
                         for this measure only.
                    $ref: '#/components/schemas/synq.agent.recon.v1.ThresholdConfig'
            title: MeasureThresholdOverride
            required:
                - column
                - thresholds
            additionalProperties: false
            description: |-
                MeasureThresholdOverride associates threshold overrides with a specific
                 measure (aggregate function + column combination).
        synq.agent.recon.v1.MismatchDetailLevel:
            type: string
            title: MismatchDetailLevel
            enum:
                - MISMATCH_DETAIL_LEVEL_UNSPECIFIED
                - MISMATCH_DETAIL_LEVEL_COUNT_ONLY
                - MISMATCH_DETAIL_LEVEL_WITH_KEYS
                - MISMATCH_DETAIL_LEVEL_DETAILED
            description: |-
                MismatchDetailLevel controls how much detail is included in results for mismatched rows.
                 Levels are ordered by increasing data exposure.
        synq.agent.recon.v1.ParseYamlRequest:
            type: object
            properties:
                yaml:
                    type: string
                    description: YAML config string to parse.
            title: ParseYamlRequest
            additionalProperties: false
        synq.agent.recon.v1.ParseYamlResponse:
            type: object
            properties:
                suite:
                    description: The parsed suite configuration.
                    $ref: '#/components/schemas/synq.agent.recon.v1.ReconciliationSuite'
            title: ParseYamlResponse
            additionalProperties: false
        synq.agent.recon.v1.PauseDeploymentRequest:
            type: object
            properties:
                suiteId:
                    type: string
                    minLength: 1
                until:
                    description: Absent = pause indefinitely.
                    nullable: true
                    $ref: '#/components/schemas/google.protobuf.Timestamp'
                reason:
                    type: string
                    nullable: true
                actor:
                    description: Actor performing the pause. Required.
                    $ref: '#/components/schemas/synq.issues.actor.v1.Actor'
            title: PauseDeploymentRequest
            required:
                - suiteId
                - actor
            additionalProperties: false
        synq.agent.recon.v1.PauseDeploymentResponse:
            type: object
            properties:
                deployment:
                    $ref: '#/components/schemas/synq.agent.recon.v1.SuiteDeployment'
            title: PauseDeploymentResponse
            additionalProperties: false
        synq.agent.recon.v1.PercentageBasis:
            type: string
            title: PercentageBasis
            enum:
                - PERCENTAGE_BASIS_UNSPECIFIED
                - PERCENTAGE_BASIS_SOURCE
                - PERCENTAGE_BASIS_TARGET
                - PERCENTAGE_BASIS_SYMMETRIC
            description: |-
                PercentageBasis controls which percentage formula is used for threshold comparison.
                 The choice affects how "big" a difference appears when source and target values
                 differ in magnitude.
        synq.agent.recon.v1.PromoteSuiteRequest:
            type: object
            properties:
                suiteId:
                    type: string
                    minLength: 1
                    description: |-
                        Suite to promote. For managed suites pass the suite name; for ad-hoc
                         pass the UUID suite_id.
                stateAt:
                    description: Specific version to promote. Absent = latest.
                    nullable: true
                    $ref: '#/components/schemas/google.protobuf.Timestamp'
                connectionMappings:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.agent.recon.v1.ConnectionMapping'
                    description: |-
                        Mappings for suite connections that don't already resolve to a
                         workspace integration by name. Connections whose name matches a
                         workspace integration can be omitted; they are resolved automatically.
                         Promotion fails if any connection in the suite cannot be resolved.
                schedule:
                    description: |-
                        Optional cron/iCal schedule. Absent on a re-promote preserves the
                         existing deployment's schedule (cron or iCal) verbatim; absent on a
                         fresh promote means no schedule. To remove a schedule from an existing
                         deployment use UpdateDeploymentSchedule (clear), not a re-promote.
                    nullable: true
                    $ref: '#/components/schemas/synq.agent.recon.v1.SuiteSchedule'
                triggerableByApi:
                    type: boolean
                    description: |-
                        When true, a TriggerDeployment RPC may execute this deployment on demand.
                         Optional so re-promotes can omit it: an absent value preserves the
                         existing deployment's setting (a fresh promote defaults to false).
                    nullable: true
                runBisection:
                    type: boolean
                    description: |-
                        Whether runs of this deployment drill into mismatched reconciliations
                         after the quick check. Absent preserves the existing deployment's
                         setting on a re-promote, or defaults to true on a fresh promote. Set
                         false for quick-check-only deployments. Each reconciliation's own
                         `bisection.enabled` still controls whether it is eligible to drill.
                    nullable: true
                executionTimeout:
                    description: |-
                        Maximum wall-clock time for a single run of this deployment. Absent on
                         a fresh promote uses the server default; absent on a re-promote
                         preserves the existing deployment's setting. The server clamps the
                         effective value to a supported range. Set a lower value to bound cost
                         on expensive warehouses, or a higher value for large tables whose
                         drill legitimately needs longer than the default.
                    nullable: true
                    $ref: '#/components/schemas/google.protobuf.Duration'
                changeSummary:
                    type: string
                    nullable: true
                deploymentId:
                    type: string
                    minLength: 1
                    description: |-
                        Optional client-supplied deployment id (UUID). Use this to make
                         PromoteSuite idempotent across retries: if the original request wrote a
                         row but the response was lost, the client re-issues with the same
                         deployment_id and the second call resolves to the same deployment.

                         Server semantics:
                           - absent  : reuse the existing deployment for this suite_id, or
                                       generate a fresh UUIDv7
                           - present, no row exists for (workspace, deployment_id) : adopt as-is
                           - present, row exists with same suite_id                : idempotent retry
                           - present, row exists with different suite_id           : ALREADY_EXISTS
                    nullable: true
                actor:
                    description: Actor performing the promotion. Required.
                    $ref: '#/components/schemas/synq.issues.actor.v1.Actor'
                deploymentAnnotations:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.entities.v1.Annotation'
                    description: |-
                        Initial deployment-level annotation overlay. Merged with suite-level
                         and case-level annotations from the frozen suite snapshot. Use
                         UpdateDeploymentAnnotations to mutate later without re-promoting.
                reconciliationFailureImpacts:
                    type: object
                    additionalProperties:
                        title: value
                        $ref: '#/components/schemas/synq.agent.recon.v1.ReconciliationFailureImpact'
                    description: |-
                        Per-case override controlling how the tables referenced by each
                         reconciliation case propagate onto runs. Keyed by case `name` from
                         the suite config. When a key is omitted on re-promote, the prior
                         deployment's value is retained — operators only set keys they want
                         to change, and the FE can offer an "apply to all" action by sending
                         the same value under every case name. New cases (not present in any
                         previous deployment of this suite_id) default to
                         RAISE_ISSUE_ON_TABLES when unset.

                         Sending RECONCILIATION_FAILURE_IMPACT_UNSPECIFIED for a known case is treated
                         as "no opinion, keep current"; to actively reset to the default,
                         either omit the case or send RAISE_ISSUE_ON_TABLES.
                category:
                    type: string
                    description: |-
                        Categories to declare for the reconciliation checks this promotion publishes.
                         See SuiteDeployment.category / .governance_category for what they mean and how
                         they interact with annotations and categorisation rules.

                         On a re-promote these behave as a patch of the previous deployment's values,
                         per field:
                           - absent                : keep whatever the previous deployment declared
                           - present, empty string : clear the declaration, falling back to the
                                                     reserved annotation or the workspace rules
                           - present, non-empty    : set or replace the declaration

                         So a re-promote that says nothing about categories never silently drops one.
                         Use UpdateDeploymentCategories to change them without re-promoting.
                    nullable: true
                governanceCategory:
                    type: string
                    nullable: true
                caseCategories:
                    type: object
                    additionalProperties:
                        title: value
                        $ref: '#/components/schemas/synq.agent.recon.v1.CaseCategories'
                    description: |-
                        Initial per-case category overrides, keyed by case `name`. Keys omitted on a
                         re-promote keep the previous deployment's override; see CaseCategories for how
                         a single dimension is inherited or cleared. Overrides for cases the promoted
                         snapshot doesn't contain are rejected with INVALID_ARGUMENT, so a renamed or
                         deleted case surfaces as an error rather than a silently dead override.
            title: PromoteSuiteRequest
            required:
                - suiteId
                - actor
            additionalProperties: false
        synq.agent.recon.v1.PromoteSuiteRequest.CaseCategoriesEntry:
            type: object
            properties:
                key:
                    type: string
                value:
                    $ref: '#/components/schemas/synq.agent.recon.v1.CaseCategories'
            title: CaseCategoriesEntry
            additionalProperties: false
        synq.agent.recon.v1.PromoteSuiteRequest.ReconciliationFailureImpactsEntry:
            type: object
            properties:
                key:
                    type: string
                value:
                    $ref: '#/components/schemas/synq.agent.recon.v1.ReconciliationFailureImpact'
            title: ReconciliationFailureImpactsEntry
            additionalProperties: false
        synq.agent.recon.v1.PromoteSuiteResponse:
            type: object
            properties:
                deployment:
                    $ref: '#/components/schemas/synq.agent.recon.v1.SuiteDeployment'
            title: PromoteSuiteResponse
            additionalProperties: false
        synq.agent.recon.v1.Reconciliation:
            type: object
            properties:
                name:
                    type: string
                    minLength: 1
                    pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
                    description: Unique machine identifier within the suite. Alphanumerics, hyphens, and underscores. May be a UUID.
                title:
                    type: string
                    description: Human-readable title. Displayed in reports. Defaults to name when not set.
                    nullable: true
                description:
                    type: string
                    description: Optional longer description explaining what this reconciliation validates.
                    nullable: true
                source:
                    description: Source dataset to compare from — the "expected" or "authoritative" side.
                    $ref: '#/components/schemas/synq.agent.recon.v1.Dataset'
                target:
                    description: Target dataset to compare against — the "actual" or "replicated" side.
                    $ref: '#/components/schemas/synq.agent.recon.v1.Dataset'
                keyColumn:
                    type: string
                    description: |-
                        Deprecated: use key_columns instead. Single primary key column used for
                         ordering and segmentation during bisection. Retained for backward
                         compatibility — existing single-key configs and stored audit logs keep
                         working. When key_columns is set, this field is ignored. Readers should
                         resolve the effective key via key_columns first, falling back to this.
                    nullable: true
                    deprecated: true
                keyColumns:
                    type: array
                    items:
                        type: string
                    description: |-
                        Ordered list of key columns used for ordering and segmentation during
                         bisection. Supports composite (multi-column) keys; the bisection orders and
                         range-filters on the column tuple so the engine can prune via a matching
                         primary key / index. A single-element list is equivalent to setting
                         key_column. Required for ROW_CHECKSUM and ROW_COUNT modes (this or the
                         deprecated key_column). Optional in AGGREGATE mode when group_columns
                         provides the grouping key.
                mode:
                    not:
                        enum:
                            - 0
                    description: Comparison mode controlling how source and target are compared.
                    $ref: '#/components/schemas/synq.agent.recon.v1.ReconciliationMode'
                hashAlgorithm:
                    description: |-
                        Hash algorithm for row checksums in ROW_CHECKSUM mode.
                         When unset, auto-negotiates the best common algorithm between the
                         source and target database dialects.
                    nullable: true
                    $ref: '#/components/schemas/synq.agent.recon.v1.HashAlgorithm'
                columnMapping:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.agent.recon.v1.ColumnMapping'
                    description: |-
                        Explicit column name mapping between source and target.
                         Only columns with different names need mapping — identical names
                         (or case-insensitive matches) are matched automatically.
                caseInsensitive:
                    type: boolean
                    description: |-
                        When true, automatically matches columns differing only in letter case
                         (e.g., user_id matches USER_ID). Defaults to true when not set.
                         Set to false to require exact case matching.
                    nullable: true
                bisection:
                    description: |-
                        Bisection drill-down configuration for ROW_CHECKSUM mode.
                         Controls how the key range is recursively split to locate mismatches.
                         When not set, uses sensible defaults (factor=32, threshold=16384).
                    nullable: true
                    $ref: '#/components/schemas/synq.agent.recon.v1.BisectionConfig'
                reporting:
                    description: |-
                        Reporting output configuration controlling how much detail is included
                         in the audit log for mismatched rows.
                    nullable: true
                    $ref: '#/components/schemas/synq.agent.recon.v1.ReportingConfig'
                aggregate:
                    description: |-
                        Aggregate comparison settings. Required when mode is AGGREGATE.
                         Defines which measures to compare and tolerance thresholds.
                    nullable: true
                    $ref: '#/components/schemas/synq.agent.recon.v1.AggregateConfig'
                errorHandling:
                    description: |-
                        Error handling and retry configuration for database queries.
                         Controls timeouts and retry behavior for transient failures.
                    nullable: true
                    $ref: '#/components/schemas/synq.agent.recon.v1.ErrorHandlingConfig'
                window:
                    description: |-
                        Time window for incremental comparison.
                         When set, automatically provides a {{window_start}} template variable
                         for filtering queries to a recent time range.
                    nullable: true
                    $ref: '#/components/schemas/synq.agent.recon.v1.WindowConfig'
                setup:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.agent.recon.v1.ConnectionQueries'
                    description: |-
                        Setup queries run before this specific reconciliation.
                         Executes after suite-level setup but before data comparison.
                teardown:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.agent.recon.v1.ConnectionQueries'
                    description: Teardown queries run after this specific reconciliation completes.
                teardownOnFailure:
                    type: boolean
                    description: |-
                        Whether teardown runs on failure for this reconciliation.
                         When not set, inherits from suite-level teardown_on_failure.
                    nullable: true
                ignoreSetupErrors:
                    type: boolean
                    description: |-
                        When true, logs setup errors as warnings and continues.
                         When not set, inherits from suite-level ignore_setup_errors.
                    nullable: true
                cutoff:
                    description: |-
                        Dynamic cutoff filter for sync reconciliation.
                         Derives a watermark from actual data to exclude rows not yet synced.
                         Applied as WHERE filter to both source and target queries at runtime.
                    nullable: true
                    $ref: '#/components/schemas/synq.agent.recon.v1.CutoffConfig'
                annotations:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.entities.v1.Annotation'
                    description: |-
                        Case-level annotations. Merged with suite-level annotations and
                         deployment-level annotations at promote time, then exposed on the
                         case asset (PromotedReconCaseMetadata).
            title: Reconciliation
            required:
                - name
                - source
                - target
            additionalProperties: false
            description: |
                Reconciliation defines a single reconciliation scenario comparing data
                 between a source and target dataset. Each reconciliation runs independently
                 and produces its own pass/mismatch/fail result.
                aggregate_config_required // aggregate config is required when mode is AGGREGATE
                key_column_and_key_columns_mutually_exclusive // set either key_column (single) or key_columns (composite), not both
                key_column_required_for_non_aggregate // key_column or key_columns is required unless mode is AGGREGATE
        synq.agent.recon.v1.ReconciliationConfigSummary:
            type: object
            properties:
                name:
                    type: string
                title:
                    type: string
                    nullable: true
                description:
                    type: string
                    nullable: true
                sourceConnection:
                    type: string
                targetConnection:
                    type: string
                mode:
                    $ref: '#/components/schemas/synq.agent.recon.v1.ReconciliationMode'
                annotations:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.entities.v1.Annotation'
                    description: |-
                        Resolved annotation list for this case. For suite-config summaries this
                         is suite-level annotations + case-level annotations (deduped). For
                         deployment summaries the deployment-level overlay is also merged in.
                         Already deduplicated by (name, value); ready for direct display.
            title: ReconciliationConfigSummary
            additionalProperties: false
            description: Summary of a single reconciliation within a suite config (for listing without parsing full config).
        synq.agent.recon.v1.ReconciliationFailureImpact:
            type: string
            title: ReconciliationFailureImpact
            enum:
                - RECONCILIATION_FAILURE_IMPACT_UNSPECIFIED
                - RECONCILIATION_FAILURE_IMPACT_RAISE_ISSUE_ON_TABLES
                - RECONCILIATION_FAILURE_IMPACT_SHOW_ON_TABLES
            description: |-
                ReconciliationFailureImpact controls whether a reconciliation case's referenced
                 tables (resolved from the source/target SQL at deploy time) inherit the
                 case's failure status, or are only attached to the run for visibility.
                 This is a deployment-time policy, not part of the suite YAML — it is
                 set on PromoteSuite / UpdateDeploymentCaseImpacts and stored on the
                 promoted deployment, not on the authored config. Letting operators
                 flip impact without editing the suite keeps configuration declarative
                 and lets the FE offer "apply to all" without round-tripping YAML.
        synq.agent.recon.v1.ReconciliationMode:
            type: string
            title: ReconciliationMode
            enum:
                - RECONCILIATION_MODE_UNSPECIFIED
                - RECONCILIATION_MODE_ROW_COUNT
                - RECONCILIATION_MODE_ROW_CHECKSUM
                - RECONCILIATION_MODE_AGGREGATE
            description: |-
                ReconciliationMode defines the comparison strategy for a reconciliation.
                 Modes are ordered by depth of comparison: ROW_COUNT < ROW_CHECKSUM < AGGREGATE.
        synq.agent.recon.v1.ReconciliationSuite:
            type: object
            properties:
                name:
                    type: string
                    maxLength: 255
                    minLength: 1
                    pattern: ^[a-zA-Z0-9][a-zA-Z0-9_-]*$
                    description: |-
                        Short machine identifier for the suite.
                         Unique machine identifier for the suite, used as the stable key for tracking runs over time.
                         Alphanumerics, hyphens, and underscores. May be a UUID.
                title:
                    type: string
                    description: |-
                        Human-readable title for the suite.
                         Displayed in dashboards and reports. Defaults to name when not set.
                    nullable: true
                description:
                    type: string
                    description: Optional longer description of the suite's purpose.
                    nullable: true
                reconciliations:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.agent.recon.v1.Reconciliation'
                    minItems: 1
                    description: |-
                        Reconciliation scenarios to execute.
                         Each reconciliation compares data between a source and target dataset.
                setup:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.agent.recon.v1.ConnectionQueries'
                    description: |-
                        Setup queries run once before all reconciliations begin.
                         Use for creating temp tables, loading fixtures, or preparing the environment.
                         Queries execute in order; all connections run sequentially.
                teardown:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.agent.recon.v1.ConnectionQueries'
                    description: |-
                        Teardown queries run once after all reconciliations complete.
                         Use for cleaning up temp tables or restoring state.
                teardownOnFailure:
                    type: boolean
                    description: |-
                        Whether teardown runs even when reconciliations fail with infrastructure errors.
                         When false (default), teardown is skipped on failure to preserve state for debugging.
                ignoreSetupErrors:
                    type: boolean
                    description: |-
                        When true, logs setup query errors as warnings and continues execution
                         instead of aborting the run. Useful when setup creates IF NOT EXISTS objects.
                variables:
                    type: object
                    additionalProperties:
                        type: string
                        title: value
                    description: |-
                        Template variables for query interpolation via {{variable_name}} syntax.
                         Values can be literal strings or template expressions:
                           - Literal: "2026-01-01"
                           - Time expression: "{{today - 30d}}", "{{now - 2h}}"
                           - Built-in: "{{now}}", "{{today}}", "{{window_start}}"
                         Variables are resolved once at the start of the run and frozen.
                strictTimeReferences:
                    type: boolean
                    description: |-
                        When true, time reference detection (e.g. NOW(), CURRENT_DATE, GETDATE()
                         in queries) returns an error instead of a warning. Prevents non-deterministic
                         queries that produce different results on each run.
                annotations:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.entities.v1.Annotation'
                    description: |-
                        Suite-level annotations. Each annotation is a name with zero or more
                         string values. Applied to the deployed suite asset and inherited by every
                         reconciliation case under the suite. Merged with per-case annotations and
                         deployment-level annotations at promote time — the final, deduplicated
                         list is exposed on PromotedReconSuiteMetadata / PromotedReconCaseMetadata
                         and surfaced to the rest of the SYNQ platform via EntityAnnotations.
            title: ReconciliationSuite
            required:
                - name
            additionalProperties: false
            description: |-
                ReconciliationSuite is the root configuration for a reconciliation suite.
                 It defines template variables and one or more reconciliation scenarios
                 that compare data between source and target databases.
                 Database connections are configured separately and referenced by name.
        synq.agent.recon.v1.ReconciliationSuite.VariablesEntry:
            type: object
            properties:
                key:
                    type: string
                value:
                    type: string
            title: VariablesEntry
            additionalProperties: false
        synq.agent.recon.v1.RenderYamlRequest:
            type: object
            properties:
                suite:
                    description: The suite configuration to render as YAML.
                    $ref: '#/components/schemas/synq.agent.recon.v1.ReconciliationSuite'
            title: RenderYamlRequest
            additionalProperties: false
        synq.agent.recon.v1.RenderYamlResponse:
            type: object
            properties:
                yaml:
                    type: string
                    description: The rendered YAML config string.
            title: RenderYamlResponse
            additionalProperties: false
        synq.agent.recon.v1.ReportingConfig:
            type: object
            properties:
                level:
                    description: Output detail level for mismatched rows.
                    $ref: '#/components/schemas/synq.agent.recon.v1.MismatchDetailLevel'
                sampleLimit:
                    type: integer
                    minimum: 1
                    format: int32
                    description: |-
                        Maximum number of sample rows to include in output per mismatch segment.
                         Limits the size of the audit log when there are many mismatches.
                         When not set, all mismatched rows within the reporting level are included.
                    nullable: true
                consentAcknowledged:
                    type: boolean
                    description: |-
                        Explicit acknowledgment that detailed row data may be included in the audit log.
                         Required when level is DETAILED to prevent accidental exposure of sensitive data.
                         The caller must set this to true to confirm they understand the privacy implications.
            title: ReportingConfig
            additionalProperties: false
            description: |
                ReportingConfig controls the level of detail included in reconciliation output
                 for mismatched rows. Higher detail levels reveal more data but may have
                 privacy implications.
                consent_required_for_detailed // consent_acknowledged must be true when level is DETAILED
        synq.agent.recon.v1.ResumeDeploymentRequest:
            type: object
            properties:
                suiteId:
                    type: string
                    minLength: 1
                actor:
                    description: Actor performing the resume. Required.
                    $ref: '#/components/schemas/synq.issues.actor.v1.Actor'
            title: ResumeDeploymentRequest
            required:
                - suiteId
                - actor
            additionalProperties: false
        synq.agent.recon.v1.ResumeDeploymentResponse:
            type: object
            properties:
                deployment:
                    $ref: '#/components/schemas/synq.agent.recon.v1.SuiteDeployment'
            title: ResumeDeploymentResponse
            additionalProperties: false
        synq.agent.recon.v1.SegmentationStrategy:
            type: string
            title: SegmentationStrategy
            enum:
                - SEGMENTATION_STRATEGY_UNSPECIFIED
                - SEGMENTATION_STRATEGY_QUANTILE
                - SEGMENTATION_STRATEGY_HASH
                - SEGMENTATION_STRATEGY_TIME
            description: |-
                SegmentationStrategy defines how key ranges are split during bisection.
                 The strategy affects both performance and privacy characteristics.
        synq.agent.recon.v1.SuiteDeployment:
            type: object
            properties:
                deploymentId:
                    type: string
                    description: |-
                        Stable platform identity (UUIDv7). Preserved across re-promotes,
                         pause/resume, and unpromote → re-promote cycles. Downstream
                         AssetCommand / RunCommand reference this.
                suiteId:
                    type: string
                    description: Suite this deployment came from.
                suiteName:
                    type: string
                suiteTitle:
                    type: string
                    nullable: true
                suiteDescription:
                    type: string
                    nullable: true
                active:
                    type: boolean
                    description: False after UnpromoteSuite. Scheduler and triggers stop.
                pausedUntil:
                    description: |-
                        When set and in the future, scheduled/triggered runs are suppressed.
                         An indefinite pause uses a far-future sentinel timestamp.
                    nullable: true
                    $ref: '#/components/schemas/google.protobuf.Timestamp'
                pausedReason:
                    type: string
                    nullable: true
                suite:
                    description: Frozen snapshot of the suite config at promote time.
                    $ref: '#/components/schemas/synq.agent.recon.v1.ReconciliationSuite'
                connectionMappings:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.agent.recon.v1.ConnectionMapping'
                    description: Mapping used at execution time to resolve DWH credentials.
                schedule:
                    description: Schedule (if any). Absent = no cron; use triggerable_by_api.
                    nullable: true
                    $ref: '#/components/schemas/synq.agent.recon.v1.SuiteSchedule'
                triggerableByApi:
                    type: boolean
                    description: |-
                        When true, this deployment can be run on demand via TriggerDeployment,
                         in addition to any cron schedule.
                runBisection:
                    type: boolean
                    description: |-
                        When true (the default), runs of this deployment drill into mismatched
                         reconciliations via bisection after the quick check to locate the
                         differing rows; when false, runs stop at the quick check. Each
                         reconciliation's own `bisection.enabled` still controls whether it is
                         eligible to drill, so this acts as the deployment-wide switch on top.
                    nullable: true
                executionTimeout:
                    description: |-
                        Maximum wall-clock time for a single run of this deployment (the quick
                         check plus any bisection drill). A run that exceeds it is cancelled and
                         marked failed. Absent means the server default applies; the effective
                         value is clamped to a supported range. Lower it to bound cost on
                         expensive warehouses where a deep drill can run for a long time.
                    nullable: true
                    $ref: '#/components/schemas/google.protobuf.Duration'
                connectionNames:
                    type: array
                    items:
                        type: string
                    description: Denormalized summaries so listing callers don't need to parse the snapshot.
                integrationIds:
                    type: array
                    items:
                        type: string
                reconciliationSummaries:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.agent.recon.v1.ReconciliationConfigSummary'
                sourceSuiteType:
                    type: string
                    description: Where this deployment's snapshot came from. "managed" or "adhoc"
                sourceConfigStateAt:
                    $ref: '#/components/schemas/google.protobuf.Timestamp'
                stateAt:
                    description: Most recent event timestamp.
                    $ref: '#/components/schemas/google.protobuf.Timestamp'
                lastAction:
                    $ref: '#/components/schemas/synq.agent.recon.v1.DeploymentAction'
                lastActor:
                    nullable: true
                    $ref: '#/components/schemas/synq.issues.actor.v1.Actor'
                lastChangeSummary:
                    type: string
                    nullable: true
                promotedAt:
                    description: |-
                        When this deployment reached production, and who put it there — taken from
                         the most recent promotion in its history, not from whatever happened last.

                         Read these rather than state_at / last_actor whenever the question is "when
                         did this go live and on whose authority". Pausing, rescheduling, editing
                         annotations or changing categories all restamp state_at / last_actor and
                         leave these two untouched, so a surface that renders the promotion from
                         state_at reports the wrong time and often the wrong person.

                         A re-promote is a promotion, so it restamps both. Unpromoting does not clear
                         them: an inactive deployment still reports when it was last live. Both are
                         absent only for a deployment whose history holds no promotion event.
                    nullable: true
                    $ref: '#/components/schemas/google.protobuf.Timestamp'
                promotedBy:
                    nullable: true
                    $ref: '#/components/schemas/synq.issues.actor.v1.Actor'
                nextRunAt:
                    description: |-
                        Next cron occurrence computed live from `schedule` at response
                         time. Absent when there's no schedule, when the deployment is
                         inactive/paused, or when the schedule expression no longer yields
                         an upcoming occurrence (e.g. an iCal RRULE that has finished).
                         Use this for "Next run: …" UI hints — it's the authoritative
                         upcoming-tick source, independent of any pre-materialised
                         execution_jobs / run_state rows.
                    nullable: true
                    $ref: '#/components/schemas/google.protobuf.Timestamp'
                deploymentAnnotations:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.entities.v1.Annotation'
                    description: |-
                        Deployment-level annotation overlay. Applied on top of the suite-level
                         and case-level annotations baked into the frozen suite snapshot. The
                         merged, deduplicated list lives on PromotedReconSuiteMetadata /
                         PromotedReconCaseMetadata — this field exposes only the deployment's
                         own overlay so callers can render and edit it independently.
                reconciliationFailureImpacts:
                    type: object
                    additionalProperties:
                        title: value
                        $ref: '#/components/schemas/synq.agent.recon.v1.ReconciliationFailureImpact'
                    description: |-
                        Effective per-case ReconciliationFailureImpact map currently in force for this
                         deployment. Keyed by case `name`. Cases without an entry behave as
                         RAISE_ISSUE_ON_TABLES. Drives whether the runner attaches each
                         case's referenced tables to Run.target (issue-raising) or
                         Run.extra_references (visibility only) — see
                         PromotedReconCaseMetadata.error_tables / shown_tables for the
                         resolved table lists.
                category:
                    type: string
                    description: |-
                        Technical category declared for every reconciliation check this deployment
                         publishes — the "what kind of check is this, mechanically" dimension the
                         catalog groups and filters checks by (for example "nullness", "uniqueness",
                         "freshness"), which is what lets one category cover the same check written as
                         a dbt test, a SQLMesh audit or a reconciliation.

                         Declared on the promotion rather than in the suite file, because a
                         reconciliation only becomes a check once it is promoted: the suite file says
                         what to reconcile, the promotion says how it behaves in production — the same
                         reason `schedule` lives here and not in the file.

                         Absent means this deployment declares no category. The category is then taken
                         from a reserved `quality.check_category` annotation on the suite, the case or
                         the deployment overlay (see deployment_annotations), and failing that from the
                         workspace's own categorisation rules. Setting this field outranks both.

                         Free-form: the vocabulary is whatever the workspace already uses, not a fixed
                         enum. Always read and write it together with governance_category — the two
                         dimensions resolve independently and a surface that exposes one must expose
                         both.
                    nullable: true
                governanceCategory:
                    type: string
                    description: |-
                        Governance category declared for every reconciliation check this deployment
                         publishes — the "what is this check for" dimension, orthogonal to `category`
                         (for example "completeness", "accuracy", "timeliness"). It is the dimension a
                         data-governance function tracks coverage against.

                         Same declaration point, same precedence and same free-form vocabulary as
                         `category`; resolved independently of it, so declaring one never suppresses
                         the other's annotation.
                    nullable: true
                caseCategories:
                    type: object
                    additionalProperties:
                        title: value
                        $ref: '#/components/schemas/synq.agent.recon.v1.CaseCategories'
                    description: |-
                        Per-case overrides of the two fields above, keyed by case `name` from the
                         suite config. Cases without an entry use the deployment-wide declaration.

                         Worth overriding when the cases of one suite are the same kind of check but
                         serve different governance purposes — a case comparing row counts is about
                         completeness while a case comparing values is about accuracy, and they can
                         carry different governance categories while sharing the deployment's technical
                         one.
            title: SuiteDeployment
            additionalProperties: false
            description: SuiteDeployment is the latest state of a deployment (current row).
        synq.agent.recon.v1.SuiteDeployment.CaseCategoriesEntry:
            type: object
            properties:
                key:
                    type: string
                value:
                    $ref: '#/components/schemas/synq.agent.recon.v1.CaseCategories'
            title: CaseCategoriesEntry
            additionalProperties: false
        synq.agent.recon.v1.SuiteDeployment.ReconciliationFailureImpactsEntry:
            type: object
            properties:
                key:
                    type: string
                value:
                    $ref: '#/components/schemas/synq.agent.recon.v1.ReconciliationFailureImpact'
            title: ReconciliationFailureImpactsEntry
            additionalProperties: false
        synq.agent.recon.v1.SuiteDeploymentHistoryEntry:
            type: object
            properties:
                deploymentId:
                    type: string
                suiteId:
                    type: string
                stateAt:
                    $ref: '#/components/schemas/google.protobuf.Timestamp'
                action:
                    $ref: '#/components/schemas/synq.agent.recon.v1.DeploymentAction'
                active:
                    type: boolean
                    description: State of the deployment at the moment of this event.
                pausedUntil:
                    nullable: true
                    $ref: '#/components/schemas/google.protobuf.Timestamp'
                pausedReason:
                    type: string
                    nullable: true
                schedule:
                    nullable: true
                    $ref: '#/components/schemas/synq.agent.recon.v1.SuiteSchedule'
                triggerableByApi:
                    type: boolean
                connectionMappings:
                    type: array
                    items:
                        $ref: '#/components/schemas/synq.agent.recon.v1.ConnectionMapping'
                runBisection:
                    type: boolean
                    description: The run_bisection setting in force at the time of this event.
                    nullable: true
                executionTimeout:
                    description: |-
                        The execution_timeout in force at the time of this event. Absent means
                         the server default applied.
                    nullable: true
                    $ref: '#/components/schemas/google.protobuf.Duration'
                suite:
                    description: Only filled for PROMOTED / REPROMOTED events (snapshot changes).
                    nullable: true
                    $ref: '#/components/schemas/synq.agent.recon.v1.ReconciliationSuite'
                sourceConfigStateAt:
[...]
