# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.0.3
info:
    title: SYNQ
    description: REST API interface for SYNQ
    version: v1
servers:
    - url: https://developer.synq.io
paths:
    /api/changes/v1:
        get:
            tags:
                - ChangesService
            description: |-
                List retrieves the history of changes for a specific entity identified by its path.
                 Changes are returned in chronological order (newest first) and include details about the type of change,
                 when it occurred, and who made it.
            operationId: ChangesService_List
            parameters:
                - name: id.dbtCoreNode.integrationId
                  in: query
                  description: SYNQ integration_id that identifies the dbt Core project
                  schema:
                    type: string
                - name: id.dbtCoreNode.nodeId
                  in: query
                  description: Dbt node_id that identifies one of dbt DAG nodes (model, test, etc)
                  schema:
                    type: string
                - name: id.dbtCloudNode.projectId
                  in: query
                  description: Your dbt Cloud project id
                  schema:
                    type: string
                - name: id.dbtCloudNode.accountId
                  in: query
                  description: Your dbt Cloud account id
                  schema:
                    type: string
                - name: id.dbtCloudNode.nodeId
                  in: query
                  description: Dbt node_id that identifies one of dbt DAG nodes (model, test, etc)
                  schema:
                    type: string
                - name: id.bigqueryTable.project
                  in: query
                  description: BigQuery project
                  schema:
                    type: string
                - name: id.bigqueryTable.dataset
                  in: query
                  description: BigQuery dataset id
                  schema:
                    type: string
                - name: id.bigqueryTable.table
                  in: query
                  description: BigQuery table name
                  schema:
                    type: string
                - name: id.snowflakeTable.account
                  in: query
                  description: Snowflake account
                  schema:
                    type: string
                - name: id.snowflakeTable.database
                  in: query
                  description: Snowflake database
                  schema:
                    type: string
                - name: id.snowflakeTable.schema
                  in: query
                  description: Snowflake schema
                  schema:
                    type: string
                - name: id.snowflakeTable.table
                  in: query
                  description: Snowflake table
                  schema:
                    type: string
                - name: id.redshiftTable.cluster
                  in: query
                  description: Redshift cluster
                  schema:
                    type: string
                - name: id.redshiftTable.database
                  in: query
                  description: Redshift database
                  schema:
                    type: string
                - name: id.redshiftTable.schema
                  in: query
                  description: Redshift schema
                  schema:
                    type: string
                - name: id.redshiftTable.table
                  in: query
                  description: Redshift table
                  schema:
                    type: string
                - name: id.postgresTable.host
                  in: query
                  description: Postgres hostname without port
                  schema:
                    type: string
                - name: id.postgresTable.database
                  in: query
                  description: Postgres database
                  schema:
                    type: string
                - name: id.postgresTable.schema
                  in: query
                  description: Postgres schema
                  schema:
                    type: string
                - name: id.postgresTable.table
                  in: query
                  description: Postgres table
                  schema:
                    type: string
                - name: id.mysqlTable.host
                  in: query
                  description: Mysql hostname without port
                  schema:
                    type: string
                - name: id.mysqlTable.schema
                  in: query
                  description: Mysql database
                  schema:
                    type: string
                - name: id.mysqlTable.table
                  in: query
                  description: Mysql table
                  schema:
                    type: string
                - name: id.clickhouseTable.host
                  in: query
                  description: Clickhouse hostname without port
                  schema:
                    type: string
                - name: id.clickhouseTable.schema
                  in: query
                  description: Clickhouse database
                  schema:
                    type: string
                - name: id.clickhouseTable.table
                  in: query
                  description: Clickhouse table
                  schema:
                    type: string
                - name: id.airflowDag.integrationId
                  in: query
                  description: SYNQ integration_id that identifies the Airflow instance
                  schema:
                    type: string
                - name: id.airflowDag.dagId
                  in: query
                  description: Airflow dag_id that identifies the DAG
                  schema:
                    type: string
                - name: id.airflowTask.integrationId
                  in: query
                  description: SYNQ integration_id that identifies the Airflow instance
                  schema:
                    type: string
                - name: id.airflowTask.dagId
                  in: query
                  description: Airflow dag_id that identifies the DAG
                  schema:
                    type: string
                - name: id.airflowTask.taskId
                  in: query
                  description: Airflow task_id that identifies the task within the DAG
                  schema:
                    type: string
                - name: id.custom.id
                  in: query
                  description: |-
                    Id that identifies the custom entity
                     The Id should be unique within the custom entity Identifier.
                  schema:
                    type: string
                - name: id.dataproduct.id
                  in: query
                  description: Dataproduct id that identifies the Dataproduct
                  schema:
                    type: string
                - name: id.synqPath.path
                  in: query
                  description: SYNQ path that identifies the SYNQ entity, needs to be one of supported paths
                  schema:
                    type: string
                - name: id.databricksTable.workspace
                  in: query
                  description: URL of Databricks workspace
                  schema:
                    type: string
                - name: id.databricksTable.catalog
                  in: query
                  description: Databricks catalog
                  schema:
                    type: string
                - name: id.databricksTable.schema
                  in: query
                  description: Databricks schema
                  schema:
                    type: string
                - name: id.databricksTable.table
                  in: query
                  description: Databricks table or view
                  schema:
                    type: string
                - name: id.trinoTable.host
                  in: query
                  description: Hostname of the Trino instance
                  schema:
                    type: string
                - name: id.trinoTable.catalog
                  in: query
                  description: Trino catalog
                  schema:
                    type: string
                - name: id.trinoTable.schema
                  in: query
                  description: Trino schema
                  schema:
                    type: string
                - name: id.trinoTable.table
                  in: query
                  description: Trino table or view
                  schema:
                    type: string
                - name: id.sqlMeshModel.integrationId
                  in: query
                  description: SYNQ integration_id that identifies the dbt Core project
                  schema:
                    type: string
                - name: id.sqlMeshModel.fqn
                  in: query
                  description: SQLMesh model fully qualified name
                  schema:
                    type: string
                - name: id.sqlMeshAudit.integrationId
                  in: query
                  description: SYNQ integration_id that identifies the dbt Core project
                  schema:
                    type: string
                - name: id.sqlMeshAudit.fqn
                  in: query
                  description: SQLMesh model fully qualified name
                  schema:
                    type: string
                - name: id.sqlMeshAudit.auditId
                  in: query
                  description: Identifier of the audit
                  schema:
                    type: string
                - name: id.monitor.monitoredId.dbtCoreNode.integrationId
                  in: query
                  description: SYNQ integration_id that identifies the dbt Core project
                  schema:
                    type: string
                - name: id.monitor.monitoredId.dbtCoreNode.nodeId
                  in: query
                  description: Dbt node_id that identifies one of dbt DAG nodes (model, test, etc)
                  schema:
                    type: string
                - name: id.monitor.monitoredId.dbtCloudNode.projectId
                  in: query
                  description: Your dbt Cloud project id
                  schema:
                    type: string
                - name: id.monitor.monitoredId.dbtCloudNode.accountId
                  in: query
                  description: Your dbt Cloud account id
                  schema:
                    type: string
                - name: id.monitor.monitoredId.dbtCloudNode.nodeId
                  in: query
                  description: Dbt node_id that identifies one of dbt DAG nodes (model, test, etc)
                  schema:
                    type: string
                - name: id.monitor.monitoredId.bigqueryTable.project
                  in: query
                  description: BigQuery project
                  schema:
                    type: string
                - name: id.monitor.monitoredId.bigqueryTable.dataset
                  in: query
                  description: BigQuery dataset id
                  schema:
                    type: string
                - name: id.monitor.monitoredId.bigqueryTable.table
                  in: query
                  description: BigQuery table name
                  schema:
                    type: string
                - name: id.monitor.monitoredId.snowflakeTable.account
                  in: query
                  description: Snowflake account
                  schema:
                    type: string
                - name: id.monitor.monitoredId.snowflakeTable.database
                  in: query
                  description: Snowflake database
                  schema:
                    type: string
                - name: id.monitor.monitoredId.snowflakeTable.schema
                  in: query
                  description: Snowflake schema
                  schema:
                    type: string
                - name: id.monitor.monitoredId.snowflakeTable.table
                  in: query
                  description: Snowflake table
                  schema:
                    type: string
                - name: id.monitor.monitoredId.redshiftTable.cluster
                  in: query
                  description: Redshift cluster
                  schema:
                    type: string
                - name: id.monitor.monitoredId.redshiftTable.database
                  in: query
                  description: Redshift database
                  schema:
                    type: string
                - name: id.monitor.monitoredId.redshiftTable.schema
                  in: query
                  description: Redshift schema
                  schema:
                    type: string
                - name: id.monitor.monitoredId.redshiftTable.table
                  in: query
                  description: Redshift table
                  schema:
                    type: string
                - name: id.monitor.monitoredId.postgresTable.host
                  in: query
                  description: Postgres hostname without port
                  schema:
                    type: string
                - name: id.monitor.monitoredId.postgresTable.database
                  in: query
                  description: Postgres database
                  schema:
                    type: string
                - name: id.monitor.monitoredId.postgresTable.schema
                  in: query
                  description: Postgres schema
                  schema:
                    type: string
                - name: id.monitor.monitoredId.postgresTable.table
                  in: query
                  description: Postgres table
                  schema:
                    type: string
                - name: id.monitor.monitoredId.mysqlTable.host
                  in: query
                  description: Mysql hostname without port
                  schema:
                    type: string
                - name: id.monitor.monitoredId.mysqlTable.schema
                  in: query
                  description: Mysql database
                  schema:
                    type: string
                - name: id.monitor.monitoredId.mysqlTable.table
                  in: query
                  description: Mysql table
                  schema:
                    type: string
                - name: id.monitor.monitoredId.clickhouseTable.host
                  in: query
                  description: Clickhouse hostname without port
                  schema:
                    type: string
                - name: id.monitor.monitoredId.clickhouseTable.schema
                  in: query
                  description: Clickhouse database
                  schema:
                    type: string
                - name: id.monitor.monitoredId.clickhouseTable.table
                  in: query
                  description: Clickhouse table
                  schema:
                    type: string
                - name: id.monitor.monitoredId.airflowDag.integrationId
                  in: query
                  description: SYNQ integration_id that identifies the Airflow instance
                  schema:
                    type: string
                - name: id.monitor.monitoredId.airflowDag.dagId
                  in: query
                  description: Airflow dag_id that identifies the DAG
                  schema:
                    type: string
                - name: id.monitor.monitoredId.airflowTask.integrationId
                  in: query
                  description: SYNQ integration_id that identifies the Airflow instance
                  schema:
                    type: string
                - name: id.monitor.monitoredId.airflowTask.dagId
                  in: query
                  description: Airflow dag_id that identifies the DAG
                  schema:
                    type: string
                - name: id.monitor.monitoredId.airflowTask.taskId
                  in: query
                  description: Airflow task_id that identifies the task within the DAG
                  schema:
                    type: string
                - name: id.monitor.monitoredId.custom.id
                  in: query
                  description: |-
                    Id that identifies the custom entity
                     The Id should be unique within the custom entity Identifier.
                  schema:
                    type: string
                - name: id.monitor.monitoredId.dataproduct.id
                  in: query
                  description: Dataproduct id that identifies the Dataproduct
                  schema:
                    type: string
                - name: id.monitor.monitoredId.synqPath.path
                  in: query
                  description: SYNQ path that identifies the SYNQ entity, needs to be one of supported paths
                  schema:
                    type: string
                - name: id.monitor.monitoredId.databricksTable.workspace
                  in: query
                  description: URL of Databricks workspace
                  schema:
                    type: string
                - name: id.monitor.monitoredId.databricksTable.catalog
                  in: query
                  description: Databricks catalog
                  schema:
                    type: string
                - name: id.monitor.monitoredId.databricksTable.schema
                  in: query
                  description: Databricks schema
                  schema:
                    type: string
                - name: id.monitor.monitoredId.databricksTable.table
                  in: query
                  description: Databricks table or view
                  schema:
                    type: string
                - name: id.monitor.monitoredId.trinoTable.host
                  in: query
                  description: Hostname of the Trino instance
                  schema:
                    type: string
                - name: id.monitor.monitoredId.trinoTable.catalog
                  in: query
                  description: Trino catalog
                  schema:
                    type: string
                - name: id.monitor.monitoredId.trinoTable.schema
                  in: query
                  description: Trino schema
                  schema:
                    type: string
                - name: id.monitor.monitoredId.trinoTable.table
                  in: query
                  description: Trino table or view
                  schema:
                    type: string
                - name: id.monitor.monitoredId.sqlMeshModel.integrationId
                  in: query
                  description: SYNQ integration_id that identifies the dbt Core project
                  schema:
                    type: string
                - name: id.monitor.monitoredId.sqlMeshModel.fqn
                  in: query
                  description: SQLMesh model fully qualified name
                  schema:
                    type: string
                - name: id.monitor.monitoredId.sqlMeshAudit.integrationId
                  in: query
                  description: SYNQ integration_id that identifies the dbt Core project
                  schema:
                    type: string
                - name: id.monitor.monitoredId.sqlMeshAudit.fqn
                  in: query
                  description: SQLMesh model fully qualified name
                  schema:
                    type: string
                - name: id.monitor.monitoredId.sqlMeshAudit.auditId
                  in: query
                  description: Identifier of the audit
                  schema:
                    type: string
                - name: id.monitor.monitoredId.monitor.monitorId
                  in: query
                  description: Identifier of the monitor
                  schema:
                    type: string
                - name: id.monitor.monitoredId.monitor.segment
                  in: query
                  description: Optional monitor segmentation identifier
                  schema:
                    type: string
                - name: id.monitor.monitoredId.monitor.integrationId
                  in: query
                  description: SYNQ integration_id of the monitored identifier
                  schema:
                    type: string
                - name: id.monitor.monitorId
                  in: query
                  description: Identifier of the monitor
                  schema:
                    type: string
                - name: id.monitor.segment
                  in: query
                  description: Optional monitor segmentation identifier
                  schema:
                    type: string
                - name: id.monitor.integrationId
                  in: query
                  description: SYNQ integration_id of the monitored identifier
                  schema:
                    type: string
                - name: changeBefore
                  in: query
                  description: Return changes older than or on `before`. Defaults to `now()`.
                  schema:
                    type: string
                    format: date-time
                - name: changeAfter
                  in: query
                  description: Return changes newer than until. Defaults to before - 7days,
                  schema:
                    type: string
                    format: date-time
                - name: limitToChangeTypes
                  in: query
                  description: Return only changes of specific types.
                  schema:
                    type: array
                    items:
                        type: integer
                        format: enum
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/changes/v1/batch:
        get:
            tags:
                - ChangesService
            description: |-
                BatchChange retrieves multiple entity changes by their IDs in a single request.
                 This is an optimized endpoint for fetching specific changes when you already know their IDs,
                 rather than listing changes for an entity.
            operationId: ChangesService_BatchChange
            parameters:
                - name: changeIds
                  in: query
                  description: List of change IDs to retrieve. Each ID uniquely identifies a specific change in the system.
                  schema:
                    type: array
                    items:
                        type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BatchChangeResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/code/v1/{id}:
        get:
            tags:
                - CodeService
            description: |-
                ListCode retrieves all code artifacts associated with a specific entity.
                 This includes SQL queries, Python scripts, dbt models, and other code configurations
                 that define or are part of the entity's functionality.
            operationId: CodeService_ListCode
            parameters:
                - name: id
                  in: path
                  description: |-
                    Identifier of the entity to retrieve code for.
                     This can be any entity type that contains code artifacts.
                  required: true
                  schema:
                    $ref: '#/components/schemas/Identifier'
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListCodeResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/coordinates/v1/database:
        get:
            tags:
                - DatabaseCoordinatesService
            description: Get multiple DatabaseCoordinates for identifiers.
            operationId: DatabaseCoordinatesService_BatchDatabaseCoordinates
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BatchDatabaseCoordinatesResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/datachecks/sqltests/v1:
        get:
            tags:
                - SqlTestsService
            description: List SqlTests for given annotations.
            operationId: SqlTestsService_ListSqlTests
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListSqlTestsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/datachecks/sqltests/v1/audit:
        get:
            tags:
                - SqlTestsService
            description: Get SqlTest audit from a given execution ID in jwt token.
            operationId: SqlTestsService_GetSqlTestAudit
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetSqlTestAuditResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/datachecks/sqltests/v1/batch:
        get:
            tags:
                - SqlTestsService
            description: Get SqlTests by their IDs.
            operationId: SqlTestsService_BatchGetSqlTests
            parameters:
                - name: ids
                  in: query
                  description: IDs of the SqlTests to fetch.
                  schema:
                    type: array
                    items:
                        type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BatchGetSqlTestsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        post:
            tags:
                - SqlTestsService
            description: Upsert SqlTests based on a unique ID.
            operationId: SqlTestsService_BatchUpsertSqlTests
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/BatchUpsertSqlTestsRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BatchUpsertSqlTestsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        delete:
            tags:
                - SqlTestsService
            description: Delete SqlTests by their IDs.
            operationId: SqlTestsService_BatchDeleteSqlTests
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/BatchDeleteSqlTestsRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BatchDeleteSqlTestsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/datachecks/testsuggestions/v1:
        get:
            tags:
                - TestSuggestionsService
            operationId: TestSuggestionsService_BatchGetTestSuggestionsForEntities
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BatchGetTestSuggestionsForEntitiesResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        post:
            tags:
                - TestSuggestionsService
            operationId: TestSuggestionsService_BatchCreateTestSuggestions
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/BatchCreateTestSuggestionsRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BatchCreateTestSuggestionsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/datachecks/testsuggestions/v1/accepted:
        patch:
            tags:
                - TestSuggestionsService
            operationId: TestSuggestionsService_BatchAcceptTestSuggestions
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/BatchAcceptTestSuggestionsRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BatchAcceptTestSuggestionsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/datachecks/testsuggestions/v1/rejected:
        patch:
            tags:
                - TestSuggestionsService
            operationId: TestSuggestionsService_BatchRejectTestSuggestions
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/BatchRejectTestSuggestionsRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BatchRejectTestSuggestionsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/datawarehouse/v1/connection/{connectionId}/upload/{uploadId}/object-information:
        post:
            tags:
                - DwhService
            operationId: DwhService_IngestObjectInformation
            parameters:
                - name: connectionId
                  in: path
                  required: true
                  schema:
                    type: string
                - name: uploadId
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/IngestObjectInformationRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IngestObjectInformationResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/datawarehouse/v1/connection/{connectionId}/upload/{uploadId}/object-metrics:
        post:
            tags:
                - DwhService
            operationId: DwhService_IngestObjectMetrics
            parameters:
                - name: connectionId
                  in: path
                  required: true
                  schema:
                    type: string
                - name: uploadId
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/IngestObjectMetricsRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IngestObjectMetricsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/datawarehouse/v1/connection/{connectionId}/upload/{uploadId}/schemas:
        post:
            tags:
                - DwhService
            operationId: DwhService_IngestSchemas
            parameters:
                - name: connectionId
                  in: path
                  required: true
                  schema:
                    type: string
                - name: uploadId
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/IngestSchemasRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IngestSchemasResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/datawarehouse/v1/connection/{connectionId}/upload/{uploadId}/sql-definitions:
        post:
            tags:
                - DwhService
            operationId: DwhService_IngestSqlDefinitions
            parameters:
                - name: connectionId
                  in: path
                  required: true
                  schema:
                    type: string
                - name: uploadId
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/IngestSqlDefinitionsRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IngestSqlDefinitionsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/datawarehouse/v1/connection/{connectionId}/upload/{upload_id}/task-results:
        post:
            tags:
                - DwhService
            operationId: DwhService_IngestTaskResults
            parameters:
                - name: connectionId
                  in: path
                  required: true
                  schema:
                    type: string
                - name: upload_id
                  in: path
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/IngestTaskResultsRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/IngestTaskResultsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/entities/custom/v1:
        get:
            tags:
                - EntitiesService
            description: List all entities.
            operationId: EntitiesService_ListEntities
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListEntitiesResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        post:
            tags:
                - EntitiesService
            description: Create or update an entity. If the entity does not exist, it will be created, otherwise it will be updated. Entities are identified and deduplicated by their Identifier in a scope of a given customer workspace.
            operationId: EntitiesService_UpsertEntity
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpsertEntityRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UpsertEntityResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/entities/custom/v1/{id}:
        delete:
            tags:
                - EntitiesService
            description: Delete an entity by its identifier. If the entity does not exist, it will be a no-op.
            operationId: EntitiesService_DeleteEntity
            parameters:
                - name: id
                  in: path
                  description: Identifier of the entity to delete.
                  required: true
                  schema:
                    $ref: '#/components/schemas/Identifier'
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DeleteEntityResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/entities/v1:
        get:
            tags:
                - EntitiesService
            description: Get multiple entities by their identifiers.
            operationId: EntitiesService_BatchGetEntities
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BatchGetEntitiesResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/entities/v1/{id}:
        get:
            tags:
                - EntitiesService
            description: Get specific entity by its identifier.
            operationId: EntitiesService_GetEntity
            parameters:
                - name: id
                  in: path
                  description: Identifier of the entity to get.
                  required: true
                  schema:
                    $ref: '#/components/schemas/Identifier'
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetEntityResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/executions/v1:
        post:
            tags:
                - EntityExecutionsService
            description: Execution affects status of the custom entity
            operationId: EntityExecutionsService_UpsertExecution
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpsertExecutionRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UpsertExecutionResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/executions/v1/log-entry:
        post:
            tags:
                - EntityExecutionsService
            description: LogEntry is a log message for the custom entity
            operationId: EntityExecutionsService_UpsertLogEntry
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpsertLogEntryRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UpsertLogEntryResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/extensions/atlan/integrations/v1:
        get:
            tags:
                - AtlanIntegrationService
            operationId: AtlanIntegrationService_Get
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        post:
            tags:
                - AtlanIntegrationService
            description: Upserts an integration and validates it by checking if the provided API URL and token are valid.
            operationId: AtlanIntegrationService_Upsert
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpsertRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UpsertResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        delete:
            tags:
                - AtlanIntegrationService
            operationId: AtlanIntegrationService_Remove
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RemoveResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        patch:
            tags:
                - AtlanIntegrationService
            description: Activate or deactivate the integration.
            operationId: AtlanIntegrationService_Activate
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ActivateRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ActivateResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/extensions/atlan/provider/v1/connections:
        get:
            tags:
                - AtlanProviderService
            operationId: AtlanProviderService_GetAtlanConnections
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetAtlanConnectionsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/extensions/atlan/provider/v1/data-products:
        get:
            tags:
                - AtlanProviderService
            operationId: AtlanProviderService_GetAtlanDataProducts
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetAtlanDataProductsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/extensions/atlan/provider/v1/domains:
        get:
            tags:
                - AtlanProviderService
            operationId: AtlanProviderService_GetAtlanDomains
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetAtlanDomainsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/extensions/atlan/workflows/v1/connection-mappings:
        get:
            tags:
                - AtlanWorkflowService
            operationId: AtlanWorkflowService_GetConnectionMappings
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetConnectionMappingsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        post:
            tags:
                - AtlanWorkflowService
            operationId: AtlanWorkflowService_SetConnectionMappings
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/SetConnectionMappingsRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SetConnectionMappingsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        delete:
            tags:
                - AtlanWorkflowService
            operationId: AtlanWorkflowService_RemoveConnectionMappings
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/RemoveConnectionMappingsRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RemoveConnectionMappingsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/extensions/atlan/workflows/v1/domain-mappings:
        get:
            tags:
                - AtlanWorkflowService
            operationId: AtlanWorkflowService_GetDomainMappings
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetDomainMappingsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/extensions/atlan/workflows/v1/product-mappings:
        get:
            tags:
                - AtlanWorkflowService
            operationId: AtlanWorkflowService_GetProductMappings
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetProductMappingsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/extensions/atlan/workflows/v1/runs:
        get:
            tags:
                - AtlanWorkflowService
            operationId: AtlanWorkflowService_FetchRuns
            parameters:
                - name: from
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: limit
                  in: query
                  schema:
                    type: integer
                    format: int32
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/FetchRunsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/extensions/atlan/workflows/v1/synchronize:
        post:
            tags:
                - AtlanWorkflowService
            description: Run a synchronization job for the integration.
            operationId: AtlanWorkflowService_Synchronize
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SynchronizeResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/git/v1/change/{changeId}:
        get:
            tags:
                - CommitsService
            operationId: CommitsService_GetDiffByChangeId
            parameters:
                - name: changeId
                  in: path
                  required: true
                  schema:
                    type: string
                - name: limitToFiles
                  in: query
                  schema:
                    type: array
                    items:
                        type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetDiffByChangeIdResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/git/v1/commit/{commitSha}:
        get:
            tags:
                - CommitsService
            operationId: CommitsService_GetDiffByCommit
            parameters:
                - name: commitSha
                  in: path
                  required: true
                  schema:
                    type: string
                - name: limitToFiles
                  in: query
                  schema:
                    type: array
                    items:
                        type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetDiffByCommitResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/impact/v1:
        get:
            tags:
                - ImpactService
            operationId: ImpactService_GetImpact
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetImpactResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/incidents/v1:
        get:
            tags:
                - IncidentsService
            operationId: IncidentsService_ListIncidents
            parameters:
                - name: time.field
                  in: query
                  schema:
                    type: integer
                    format: enum
                - name: time.from
                  in: query
                  schema:
                    type: string
                    format: date-time
                - name: time.to
                  in: query
                  schema:
                    type: string
                    format: date-time
                - name: sort.sortBy
                  in: query
                  schema:
                    type: integer
                    format: enum
                - name: sort.order
                  in: query
                  schema:
                    type: integer
                    format: enum
                - name: pagination.cursor
                  in: query
                  schema:
                    type: string
                - name: pagination.pageSize
                  in: query
                  schema:
                    type: integer
                    format: int32
                - name: states
                  in: query
                  description: Filter by states
                  schema:
                    type: array
                    items:
                        type: integer
                        format: enum
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListIncidentsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        post:
            tags:
                - IncidentsService
            operationId: IncidentsService_CreateIncident
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateIncidentRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CreateIncidentResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/incidents/v1/batch:
        get:
            tags:
                - IncidentsService
            operationId: IncidentsService_BatchGetIncidents
            parameters:
                - name: incidentIds
                  in: query
                  description: IDs of the incidents to get
                  schema:
                    type: array
                    items:
                        type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BatchGetIncidentsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/incidents/v1/{incidentId}/cancel:
        patch:
            tags:
                - IncidentsService
            description: Cancel an incident
            operationId: IncidentsService_CancelIncident
            parameters:
                - name: incidentId
                  in: path
                  description: ID of the incident to cancel
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CancelIncidentRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CancelIncidentResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/incidents/v1/{incidentId}/close:
        patch:
            tags:
                - IncidentsService
            description: Close an incident
            operationId: IncidentsService_CloseIncident
            parameters:
                - name: incidentId
                  in: path
                  description: ID of the incident to close
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CloseIncidentRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CloseIncidentResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/incidents/v1/{incidentId}/issues:
        post:
            tags:
                - IncidentsService
            operationId: IncidentsService_AddIssuesToIncident
            parameters:
                - name: incidentId
                  in: path
                  description: ID of the incident to add issues to
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AddIssuesToIncidentRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AddIssuesToIncidentResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
        delete:
            tags:
                - IncidentsService
            operationId: IncidentsService_RemoveIssuesFromIncident
            parameters:
                - name: incidentId
                  in: path
                  description: ID of the incident to remove issues from
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/RemoveIssuesFromIncidentRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RemoveIssuesFromIncidentResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/incidents/v1/{incidentId}/merge:
        post:
            tags:
                - IncidentsService
            operationId: IncidentsService_MergeIncidents
            parameters:
                - name: incidentId
                  in: path
                  description: ID of the primary incident to merge into
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/MergeIncidentsRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/MergeIncidentsResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/incidents/v1/{incidentId}/rename:
        patch:
            tags:
                - IncidentsService
            operationId: IncidentsService_RenameIncident
            parameters:
                - name: incidentId
                  in: path
                  description: ID of the incident to rename
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/RenameIncidentRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/RenameIncidentResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/incidents/v1/{incidentId}/split:
        post:
            tags:
                - IncidentsService
            operationId: IncidentsService_SplitIncident
            parameters:
                - name: incidentId
                  in: path
                  description: ID of the incident to split
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/SplitIncidentRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SplitIncidentResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/issues/v1:
        get:
            tags:
                - IssuesService
            operationId: IssuesService_ListIssues
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ListIssuesRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListIssuesResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/issues/v1/batch:
        get:
            tags:
                - IssuesService
            operationId: IssuesService_BatchGetIssues
            parameters:
                - name: issueIds
                  in: query
                  description: IDs of the issues to get.
                  schema:
                    type: array
                    items:
                        type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BatchGetIssuesResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/issues/v1/{issueId}/comment:
        post:
            tags:
                - IssuesService
            description: Post a comment on an issue.
            operationId: IssuesService_PostComment
            parameters:
                - name: issueId
                  in: path
                  description: ID of the issue to post a comment on.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/PostCommentRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PostCommentResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/issues/v1/{issueId}/mark-expected:
        patch:
            tags:
                - IssuesService
            description: Mark issue as expected.
            operationId: IssuesService_MarkExpected
            parameters:
                - name: issueId
                  in: path
                  description: ID of the issue to mark as expected.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/MarkExpectedRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/MarkExpectedResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/issues/v1/{issueId}/mark-fixed:
        patch:
            tags:
                - IssuesService
            description: Mark issue as fixed.
            operationId: IssuesService_MarkFixed
            parameters:
                - name: issueId
                  in: path
                  description: ID of the issue to mark as fixed.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/MarkFixedRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/MarkFixedResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/issues/v1/{issueId}/mark-investigating:
        patch:
            tags:
                - IssuesService
            description: Mark issue as being investigated.
            operationId: IssuesService_MarkInvestigating
            parameters:
                - name: issueId
                  in: path
                  description: ID of the issue to mark as investigating.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/MarkInvestigatingRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/MarkInvestigatingResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/issues/v1/{issueId}/mark-no-action-needed:
        patch:
            tags:
                - IssuesService
            description: Mark issue as no action needed.
            operationId: IssuesService_MarkNoActionNeeded
            parameters:
                - name: issueId
                  in: path
                  description: ID of the issue to mark as no action needed.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/MarkNoActionNeededRequest'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/MarkNoActionNeededResponse'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
    /api/lineage/v1:
        get:
            tags:
                - LineageService
            operationId: LineageService_GetLineage
            parameters:
                - name: lineageDirection
                  in: query
                  schema:
                    type: integer
                    format: enum
                - name: startPoint.entityColumns.id.dbtCoreNode.integrationId
                  in: query
                  description: SYNQ integration_id that identifies the dbt Core project
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.dbtCoreNode.nodeId
                  in: query
                  description: Dbt node_id that identifies one of dbt DAG nodes (model, test, etc)
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.dbtCloudNode.projectId
                  in: query
                  description: Your dbt Cloud project id
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.dbtCloudNode.accountId
                  in: query
                  description: Your dbt Cloud account id
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.dbtCloudNode.nodeId
                  in: query
                  description: Dbt node_id that identifies one of dbt DAG nodes (model, test, etc)
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.bigqueryTable.project
                  in: query
                  description: BigQuery project
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.bigqueryTable.dataset
                  in: query
                  description: BigQuery dataset id
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.bigqueryTable.table
                  in: query
                  description: BigQuery table name
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.snowflakeTable.account
                  in: query
                  description: Snowflake account
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.snowflakeTable.database
                  in: query
                  description: Snowflake database
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.snowflakeTable.schema
                  in: query
                  description: Snowflake schema
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.snowflakeTable.table
                  in: query
                  description: Snowflake table
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.redshiftTable.cluster
                  in: query
                  description: Redshift cluster
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.redshiftTable.database
                  in: query
                  description: Redshift database
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.redshiftTable.schema
                  in: query
                  description: Redshift schema
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.redshiftTable.table
                  in: query
                  description: Redshift table
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.postgresTable.host
                  in: query
                  description: Postgres hostname without port
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.postgresTable.database
                  in: query
                  description: Postgres database
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.postgresTable.schema
                  in: query
                  description: Postgres schema
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.postgresTable.table
                  in: query
                  description: Postgres table
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.mysqlTable.host
                  in: query
                  description: Mysql hostname without port
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.mysqlTable.schema
                  in: query
                  description: Mysql database
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.mysqlTable.table
                  in: query
                  description: Mysql table
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.clickhouseTable.host
                  in: query
                  description: Clickhouse hostname without port
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.clickhouseTable.schema
                  in: query
                  description: Clickhouse database
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.clickhouseTable.table
                  in: query
                  description: Clickhouse table
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.airflowDag.integrationId
                  in: query
                  description: SYNQ integration_id that identifies the Airflow instance
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.airflowDag.dagId
                  in: query
                  description: Airflow dag_id that identifies the DAG
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.airflowTask.integrationId
                  in: query
                  description: SYNQ integration_id that identifies the Airflow instance
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.airflowTask.dagId
                  in: query
                  description: Airflow dag_id that identifies the DAG
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.airflowTask.taskId
                  in: query
                  description: Airflow task_id that identifies the task within the DAG
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.custom.id
                  in: query
                  description: |-
                    Id that identifies the custom entity
                     The Id should be unique within the custom entity Identifier.
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.dataproduct.id
                  in: query
                  description: Dataproduct id that identifies the Dataproduct
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.synqPath.path
                  in: query
                  description: SYNQ path that identifies the SYNQ entity, needs to be one of supported paths
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.databricksTable.workspace
                  in: query
                  description: URL of Databricks workspace
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.databricksTable.catalog
                  in: query
                  description: Databricks catalog
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.databricksTable.schema
                  in: query
                  description: Databricks schema
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.databricksTable.table
                  in: query
                  description: Databricks table or view
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.trinoTable.host
                  in: query
                  description: Hostname of the Trino instance
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.trinoTable.catalog
                  in: query
                  description: Trino catalog
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.trinoTable.schema
                  in: query
                  description: Trino schema
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.trinoTable.table
                  in: query
                  description: Trino table or view
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.sqlMeshModel.integrationId
                  in: query
                  description: SYNQ integration_id that identifies the dbt Core project
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.sqlMeshModel.fqn
                  in: query
                  description: SQLMesh model fully qualified name
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.sqlMeshAudit.integrationId
                  in: query
                  description: SYNQ integration_id that identifies the dbt Core project
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.sqlMeshAudit.fqn
                  in: query
                  description: SQLMesh model fully qualified name
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.sqlMeshAudit.auditId
                  in: query
                  description: Identifier of the audit
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.dbtCoreNode.integrationId
                  in: query
                  description: SYNQ integration_id that identifies the dbt Core project
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.dbtCoreNode.nodeId
                  in: query
                  description: Dbt node_id that identifies one of dbt DAG nodes (model, test, etc)
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.dbtCloudNode.projectId
                  in: query
                  description: Your dbt Cloud project id
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.dbtCloudNode.accountId
                  in: query
                  description: Your dbt Cloud account id
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.dbtCloudNode.nodeId
                  in: query
                  description: Dbt node_id that identifies one of dbt DAG nodes (model, test, etc)
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.bigqueryTable.project
                  in: query
                  description: BigQuery project
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.bigqueryTable.dataset
                  in: query
                  description: BigQuery dataset id
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.bigqueryTable.table
                  in: query
                  description: BigQuery table name
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.snowflakeTable.account
                  in: query
                  description: Snowflake account
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.snowflakeTable.database
                  in: query
                  description: Snowflake database
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.snowflakeTable.schema
                  in: query
                  description: Snowflake schema
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.snowflakeTable.table
                  in: query
                  description: Snowflake table
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.redshiftTable.cluster
                  in: query
                  description: Redshift cluster
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.redshiftTable.database
                  in: query
                  description: Redshift database
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.redshiftTable.schema
                  in: query
                  description: Redshift schema
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.redshiftTable.table
                  in: query
                  description: Redshift table
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.postgresTable.host
                  in: query
                  description: Postgres hostname without port
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.postgresTable.database
                  in: query
                  description: Postgres database
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.postgresTable.schema
                  in: query
                  description: Postgres schema
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.postgresTable.table
                  in: query
                  description: Postgres table
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.mysqlTable.host
                  in: query
                  description: Mysql hostname without port
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.mysqlTable.schema
                  in: query
                  description: Mysql database
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.mysqlTable.table
                  in: query
                  description: Mysql table
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.clickhouseTable.host
                  in: query
                  description: Clickhouse hostname without port
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.clickhouseTable.schema
                  in: query
                  description: Clickhouse database
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.clickhouseTable.table
                  in: query
                  description: Clickhouse table
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.airflowDag.integrationId
                  in: query
                  description: SYNQ integration_id that identifies the Airflow instance
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.airflowDag.dagId
                  in: query
                  description: Airflow dag_id that identifies the DAG
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.airflowTask.integrationId
                  in: query
                  description: SYNQ integration_id that identifies the Airflow instance
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.airflowTask.dagId
                  in: query
                  description: Airflow dag_id that identifies the DAG
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.airflowTask.taskId
                  in: query
                  description: Airflow task_id that identifies the task within the DAG
                  schema:
                    type: string
                - name: startPoint.entityColumns.id.monitor.monitoredId.custom.id
                  in: query
                  description: |-
[...]
